@import "../../../assets/layout/style/variable";

.label {
  font-weight: bold;
  padding-right: 50px;
  padding-bottom: 5px;
}

.bank {
  border-color: #069;
  box-shadow: 2px 2px 2px 0 #006699;
}

.table {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 1rem 0;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
  width: 100%;
}

.bank-name {
  color: #069;
  font-weight: bold;
}

.account {
  color: red;
  font-weight: bold;
}

.header {
  padding: 10px;
  color: #069;
}

.directpay{
  background-color: $color-5;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  line-height: 30px;
  height: 5px;
  display: block;
  padding: 0 15px;
  margin-top: 50px;
}