<p-toast [style]="{marginTop: '80px'}"></p-toast>

<form [formGroup]="loginForm"
      novalidate>
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid"
       style="margin: 10px 0px">
    <div class="ui-g">
      <div class="ui-g-12 ui-lg-4 ui-md-4 ui-sm-6">
        <div class="form-label align-right">
          Email or Phone(*):
        </div>
      </div>
      <div class="ui-g-12 ui-lg-8 ui-md-8 ui-sm-6">
        <input formControlName="email"
               autocomplete="off"
               *ngIf="globalService.isPlatformBrowser()"
               pInputText
               type="text"/>

        <div *ngIf="getErrorMessages(loginForm, 'email').length > 0">
          <div *ngFor="let m of getErrorMessages(loginForm, 'email')"
               class="error-msg">
            {{m}}
          </div>
        </div>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12 ui-lg-4 ui-md-4 ui-sm-6">
        <div class="form-label align-right">
          Mật khẩu (*):
        </div>
      </div>
      <div class="ui-g-12 ui-lg-8 ui-md-8 ui-sm-6">
        <input formControlName="password"
               *ngIf="globalService.isPlatformBrowser()"
               pInputText
               autocomplete="off"
               type="password"/>

        <div *ngIf="getErrorMessages(loginForm, 'password').length > 0">
          <div class="error-msg"
               *ngFor="let m of getErrorMessages(loginForm, 'password')">
            {{m}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12 ui-lg-5 ui-md-5 ui-sm-5">
      <a (click)="onForgotPassword()"
         style="cursor: pointer">Quên mật khẩu?</a>
    </div>
    <div class="ui-g-12 ui-lg-7 ui-md-7 ui-sm-7" id="btn-sign-in">
      <p-button label="Đăng nhập"
                [disabled]="loginForm.invalid"
                *ngIf="globalService.isPlatformBrowser()"
                icon="pi pi-sign-in"
                (click)="onLogin()"
                iconPos="right"
      ></p-button>
    </div>
  </div>
</form>