<h1>Thông báo của tôi</h1>
<!-- <p-card>
  <p-toolbar>
    <div class="ui-fluid">
      <i>Trong khoảng thời gian</i>
      <div class="ui-g">
        <div class="ui-lg-6">
          <p-dropdown
              [options]="monthSelector.MONTHS"
              [optionLabel]="'name'"></p-dropdown>
        </div>

        <div class="ui-lg-3">
          <button pButton
                  *ngIf="globalService.isPlatformBrowser()"
                  type="button"
                  [icon]="'pi pi-search'"
                  [label]="'Tìm kiếm'"></button>
        </div>

        <div class="ui-lg-3">
          <button pButton
                  *ngIf="globalService.isPlatformBrowser()"
                  type="button"
                  [icon]="'pi pi-replay'"
                  [label]="'Đặt lại'"></button>
        </div>
      </div>
    </div>
  </p-toolbar>
</p-card> -->

<p-tabView>
  <p-tabPanel header="Tất cả">
    <div
        *ngFor="let notification of listNofitication">
      <p-card>
        <h3>{{ notification.title }}</h3>
        <p><small><strong>Vào lúc:</strong> {{ notification.createdAt | date: 'short' }}</small></p>
        <p>{{ notification.content }}</p>
        <!-- <a routerLink="/{{notification.params.orderId}}"></a> -->
        
        <!-- <div class="ui-g">
          <div class="ui-lg-6">
            <a href="#">Đánh dấu đã đọc</a>
          </div>
          <div class="ui-lg-6">
            <a style="color: red;" href="#">Xoá</a>
          </div>
        </div> -->
      </p-card>
      <br>
    </div>
    <p-paginator
        [rows]="metaNotification?.item"
        [totalRecords]="metaNotification?.totalItems"
        (onPageChange)="onPaginate($event)"></p-paginator>
  </p-tabPanel>

</p-tabView>
