<p-toast [style]="{marginTop: '80px'}"></p-toast>
<form [formGroup]="registerForm">
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        Email (*):
      </div>
      <div class="ui-grid-col-8">
        <input pInputText
               *ngIf="globalService.isPlatformBrowser()"
               formControlName="email"
               type="text"/>
        <p-message severity="error"
                   [text]="getErrorMessages(registerForm, 'email')"
                   *ngIf="getErrorMessages(registerForm, 'email').length > 0"></p-message>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        Họ tên (*):
      </div>
      <div class="ui-grid-col-8">
        <input pInputText
               *ngIf="globalService.isPlatformBrowser()"
               formControlName="name"
               type="text"/>
        <p-message severity="error"
                   [text]="getErrorMessages(registerForm, 'name')"
                   *ngIf="getErrorMessages(registerForm, 'name').length > 0"></p-message>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        Số điện thoại (*):
      </div>
      <div class="ui-grid-col-8">
        <input type="text"
               pInputText
               [autocomplete]="false"
               *ngIf="globalService.isPlatformBrowser()"
               formControlName="phone">
        <i>
          Số điện thoại dùng để xác thực tài khoản và xác nhận đơn hàng.
        </i>
        <p-message severity="error"
                   [text]="getErrorMessages(registerForm, 'phone')"
                   *ngIf="getErrorMessages(registerForm, 'phone').length > 0"></p-message>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        Mật khẩu (*):
      </div>
      <div class="ui-grid-col-8">
        <input pInputText
               *ngIf="globalService.isPlatformBrowser()"
               formControlName="password"
               type="password"/>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        Nhập lại mật khẩu (*):
      </div>
      <div class="ui-grid-col-8">
        <input pInputText
               *ngIf="globalService.isPlatformBrowser()"
               formControlName="confirmedPassword"
               type="password"/>

        <p-message severity="error"
                   [text]="getErrorMessages(registerForm, 'confirmedPassword')"
                   *ngIf="getErrorMessages(registerForm, 'confirmedPassword').length > 0"></p-message>
      </div>
    </div>
  </div>
  <div class="ui-grid-row" id="btn-signup">
    <p-button label="Xóa"
              icon="pi pi-replay"
              iconPos="right"
              [styleClass]="'ui-button-secondary'"
              (click)="onResetForm()"></p-button>

    <p-button label="Đăng ký"
              icon="pi pi-chevron-right"
              iconPos="right"
              style="margin-left: 10px"
              (click)="onRegister()"></p-button>
  </div>
</form>

<p-toast></p-toast>
