@import "../../../../../assets/layout/style/variable";
.menu-wrap {
 background-color: $color-2;
 border: 1px solid darken($color-4, 20);
 border-left: 0;
 border-right: 0;
}

.mb-menu-wrap {
 position: fixed;
 top: 0;
 left: -100%;
 width: 90%;
 max-width: 300px;
 height: 100%;
 background-color: white;
 z-index: 10;
 border-right: 1px solid black;
 transition: left 0.5s;

 &.open {
  left: 0;
 }

 .btn-close-menu {
  padding: 11px;
  font-size: 23px;
  display: inline-block;
  cursor: pointer;
  &:hover {
   color: lighten(black, 30%);
  }
 }

 .menu {
  list-style: inherit;

  li {
   display: list-item;

   a {
    &.link {
     font-size: 18px;
     padding: 10px;
     display: block;
     border-bottom: 1px solid #a9a9a9;
    }

    &:hover {
     background-color: pink;
    }
   }
  }
 }
}

.mb-menu-bg {
 position: fixed;
 display: none;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(111, 111, 111, 0.71);
 z-index: 9;

 &.open {
  display: block;
 }
}

.menu {
 margin: 0;
 padding: 0;
 list-style: none;

 li {
  display: inline-block;

  a {
   &.link {
    padding: 6px 5px;
    color: #696E6E;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 13px;
    display: inline-block;

    &:hover {
     color: #889290;
    }
   }
  }

  &:first-child {
   a {
    padding-left: 0;
   }
  }

  &:last-child {
   a {
    padding-right: 0;
   }
  }
 }
}