<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
  <div class="ui-grid-row">
    <div class="ui-md-9">
      <div class="news-detail">
        <h1 class="title">{{_data.title}}</h1>
        <div class="datetime">{{_data.createdAt | date: 'dd-MM-yyyy'}}</div>
        <h2 [innerHTML]="_data.description" class="summary"></h2>
        <div [innerHTML]="_data.content" class="content"></div>

        <div class="soucenews pad-10 mar-bottom-20 text-right"></div>

        <!--<div class="detail-tools mar-bottom-20">-->
          <!--<div class="tool-left">-->
            <!--<a class="likehand" href="#" title=""><span class="color-blue">Thích&nbsp;&nbsp;|&nbsp;&nbsp;</span>-->
              <!--<img alt="icon" height="12px" src="assets/images/hand.jpg" width="12px">-->
              <!--<span class="color-blue">&nbsp;0&nbsp;&nbsp;</span>-->
            <!--</a><a class="icon-social facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url_facebook}}&amp;t={{title}}"-->
                   <!--target="_blank" title="Facebook">-->
            <!--<img alt="Facebook" src="assets/images/facebook.gif" title="Facebook"></a>-->
            <!--<a class="icon-social twitter" href="https://twitter.com/intent/tweet?original_referer={{url_twitter}}&amp;text={{title}}&amp;tw_p=tweetbutton&amp;url={{url_twitter}}&amp;via=your_screen_name"-->
               <!--target="_blank"-->
               <!--title="Twitter">-->
              <!--<img alt="Twitter" src="assets/images/twitter.gif" title="Twitter"></a>-->
            <!--<a class="icon-social google" href="https://plus.google.com/share?url={{url_google}}"-->
               <!--target="_blank" title="Google Bookmarks"><img alt="Google Bookmarks" src="assets/images/google.gif" title="Google Bookmarks"></a>-->
          <!--</div>-->
        <!--</div>-->
        <div class="other-news">
          <h2>Bài viết liên quan</h2>
          <ul class="list-news-item">
            <li *ngFor="let news of listNewsHighlight">
              <a href="/tin-tuc/{{news.url}}" title="{{news.title}}">
                {{news.title}} <i>( {{news.createdAt | date: 'hh:mm dd/MM/yyyy'}} )</i>
              </a>
            </li>
          </ul>

        </div>
        <div class="other-news mar-bottom-20"><a class="other-link" routerLink="/tin-tuc" title="Xem tiếp">Xem tiếp</a>
          <ul class="list-news-item"></ul>
        </div>
      </div>
    </div>


    <div class="ui-md-3">
      <div class="box-search">
        <h3>Công cụ tìm kiếm</h3>
        <app-search-box (valueChange)="onSearch($event)"
                        [data]="searchQuery">
        </app-search-box>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <app-text-end-page [textEndPage]="textEndPage"></app-text-end-page>
</div>
