<p-toast [style]="{marginTop: '80px'}"></p-toast>

<p-steps [model]="items"
         styleClass="steps-custom"
         [activeIndex]="0"
         *ngIf="globalService.isPlatformBrowser()"></p-steps>

<h2>Chọn ngày giờ muốn giao hàng</h2>
<div class="ui-g">
  <div class="ui-lg-12 ui-md-12 ui-sm-6">
    <div class="ui-g">
      <div class="ui-md-2 ui-sm-12">Chọn ngày</div>
      <div class="ui-md-2 ui-sm-12">
        <p-calendar [(ngModel)]="date"
                    (ngModelChange)="onChangeDate()"
                    [minDate]="minDate"
                    [showTime]="false"
                    [readonlyInput]="true"
                    *ngIf="globalService.isPlatformBrowser()"
                    dateFormat="dd/mm/yy"></p-calendar>

        <div *ngFor="let message of getErrorMessages(deliveryForm, 'date')" class="error-msg">{{message}}</div>
      </div>

    </div>
  </div>

  <div class="ui-lg-12 ui-md-12 ui-sm-6">
    <div class="ui-g">
      <div class="ui-md-2 ui-sm-12">Chọn giờ</div>
      <div class="ui-md-2 ui-sm-12">
        <p-dropdown [options]="expectedDeliveryTimes"
                    [placeholder]="'--Chọn giờ--'"
                    (onChange)="onChangeExpectedDeliveryTime($event)"></p-dropdown>
        <div *ngFor="let message of getErrorMessages(deliveryForm, 'expectedDeliveryTime')"
             class="error-msg">{{message}}
        </div>
      </div>
    </div>
  </div>

  <div class="ui-lg-12 ui-md-12 ui-sm-12">
    <div class="ui-g">
      <div class="ui-lg-2 ui-md-2 ui-sm-12">Câu đề tặng</div>
      <div class="ui-lg-4 ui-md-4 ui-sm-12">
        <input pInputText
               *ngIf="globalService.isPlatformBrowser()"
               [(ngModel)]="contentOrder"
               type="text"/>

      </div>
    </div>
  </div>

  <div class="ui-lg-12 ui-md-12 ui-sm-12">
    <div class="ui-g">
      <div class="ui-lg-2 ui-md-2 ui-sm-12">Ghi chú (*)</div>
      <div class="ui-lg-4 ui-md-4 ui-sm-12">
        <textarea name=""
                  *ngIf="globalService.isPlatformBrowser()"
                  pInputTextarea
                  [(ngModel)]="note"
                  id=""
                  cols="30"
                  rows="5"></textarea>
      </div>
    </div>
  </div>
</div>

<!--Case login-->
<div class="ui-fluid" *ngIf="!!authService.userInfo === true">
  <div class="ui-g">
    <div class="ui-lg-6 ui-md-6 ui-sm-12">
      <h2>Địa chỉ giao hàng</h2>
      <div *ngFor="let delivery of deliveries"
           style="margin-bottom: 10px;">
        <p-card>
          <p><strong>{{delivery.name}}</strong></p>
          <p>Địa chỉ: {{delivery.address}}</p>
          <p>Điện thoại: {{delivery.phone}}</p>
          <div class="ui-g">
            <div class="ui-lg-5 ui-md-7 ui-sm-8">
              <p-button label="Giao đến địa chỉ này"
                        styleClass="ui-button-info"
                        *ngIf="globalService.isPlatformBrowser()"
                        (click)="onPayment(delivery._id)"></p-button>
            </div>
            <!--<div class="ui-lg-5 ui-md-3 ui-sm-2">
              <p-button label="Sửa"
                        styleClass="ui-button-warning"
                        (click)="toEdit(edit)"
                        *ngIf="globalService.isPlatformBrowser()"></p-button>
            </div>-->
          </div>
        </p-card>
      </div>
    </div>

    <div #edit class="ui-md-6 ui-sm-12">
      <h2>Thêm địa chỉ giao hàng mới</h2>
      <form [formGroup]="addressForm"
            novalidate>
        <div class="ui-g">
          <div class="ui-md-4 ui-sm-12">
            <label>Họ tên: </label>
          </div>
          <div class="ui-md-8 ui-sm-12">
            <input pInputText
                   *ngIf="globalService.isPlatformBrowser()"
                   [formControlName]="'name'"
                   type="text"/>
            <div *ngFor="let message of getErrorMessages(addressForm, 'name')" class="error-msg">{{message}}</div>
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-md-4 ui-sm-12">
            <label>Điện thoại: </label>
          </div>
          <div class="ui-md-8 ui-sm-12">
            <input pInputText
                   *ngIf="globalService.isPlatformBrowser()"
                   [formControlName]="'phone'"
                   type="text"/>
            <div *ngFor="let message of getErrorMessages(addressForm, 'phone')" class="error-msg">{{message}}</div>
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-md-4 ui-sm-12">
            <label>Địa chỉ</label>
          </div>
        </div>

        <div class="ui-g">
          <div class="ui-lg-12 ui-md-12 ui-sm-12">
            <app-map (valueChanged)="onMapChanged($event)"
                     [formControlName]="'address'"></app-map>
            <div *ngFor="let message of getErrorMessages(addressForm, 'address')" class="error-msg">{{message}}</div>
          </div>
        </div>
        <!-- <div class="ui-g">
          <div class="ui-md-4">
            <label>Loại địa chỉ: </label>
          </div>
          <div class="ui-md-4">
            <p-checkbox name="group1" value="New York" label="Nhà riêng/Chung cư">
            </p-checkbox>
          </div>
          <div class="ui-md-4">
            <p-checkbox name="group1" value="New York" label="Cơ quan/Công ty">
            </p-checkbox>
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-md-4">
          </div>
          <div class="ui-md-8">
            <p-checkbox name="group1" value="New York" label="Sử dụng địa chỉ làm mặc định">
            </p-checkbox>
          </div>
        </div> -->
        <div class="ui-g">
          <div class="ui-md-12 ui-sm-12" style="text-align: center">
            <p-button (click)="onSubmitAddress()"
                      label="Thêm địa chỉ mới"
                      [disabled]="addressForm.invalid"
                      *ngIf="globalService.isPlatformBrowser()"></p-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<!--Case no login-->
<div class="ui-fluid" *ngIf="!!authService.userInfo === false">
  <div class="ui-g">
    <div class="ui-lg-6 ui-md-6 ui-sm-12">
      <h2>Thông tin người mua</h2>
      <div style="font-style: italic">
        Dùng để xác nhận và thanh toán đơn hàng
      </div>
      <form [formGroup]="buyerInfoForm">
        <div>
          <label for="buyer-name">
            Tên (*)
          </label>

          <input pInputText
                 [formControlName]="'name'"
                 id="buyer-name"
                 disabled
                 *ngIf="buyerIsReceiver"
                 type="text"/>

          <input pInputText
                 [formControlName]="'name'"
                 id="buyer-name"
                 *ngIf="!buyerIsReceiver"
                 type="text"/>

          <div *ngFor="let message of getErrorMessages(buyerInfoForm, 'name')"
               class="error-msg">
            {{ message }}
          </div>
        </div>

        <div style="margin-top: 10px;">
          <label>Số điện thoại (*)</label>
          <p-inputMask [autoClear]="false"
                       [disabled]="buyerIsReceiver"
                       [slotChar]="''"
                       [formControlName]="'phone'"
                       mask="999999999999"></p-inputMask>

          <div>
            <div *ngFor="let message of getErrorMessages(buyerInfoForm, 'phone')"
                 class="error-msg">
              {{ message }}
            </div>
          </div>
        </div>

        <div style="margin-top: 10px;">
          <label for="buyer-email">Email: (*)</label>
          <input pInputText
                 *ngIf="buyerIsReceiver"
                 disabled
                 id="buyer-email"
                 [formControlName]="'email'"
                 type="text"/>

          <input pInputText
                 *ngIf="!buyerIsReceiver"
                 id="buyer-email"
                 [formControlName]="'email'"
                 type="text"/>

          <div>
            <div *ngFor="let message of getErrorMessages(buyerInfoForm, 'email')"
                 class="error-msg">
              {{ message }}
            </div>
          </div>
        </div>
      </form>

      <div style="margin-top: 10px">
        <p-checkbox [(ngModel)]="buyerIsReceiver"
                    (ngModelChange)="onChangeCheckboxBIsR($event)"
                    [label]="'Người mua là người nhận'"
                    binary="true"></p-checkbox>
      </div>
    </div>
    <div class="ui-lg-6 ui-md-6 ui-sm-12">
      <h2>Thông tin người nhận</h2>
      <form [formGroup]="deliveryForm">
        <div>
          <label>
            Tên (*)
          </label>

          <input pInputText
                 *ngIf="globalService.isPlatformBrowser()"
                 [formControlName]="'name'"
                 id="Name"
                 type="text"/>

          <div *ngFor="let message of getErrorMessages(deliveryForm, 'name')"
               class="error-msg">
            {{ message }}
          </div>
        </div>

        <div style="margin-top: 10px;">
          <label>Số điện thoại (*)</label>
          <p-inputMask id="Phone"
                       [autoClear]="false"
                       [slotChar]="''"
                       [formControlName]="'phone'"
                       mask="999999999999"></p-inputMask>

          <div>
            <div *ngFor="let message of getErrorMessages(deliveryForm, 'phone')"
                 class="error-msg">
              {{ message }}
            </div>
          </div>
        </div>


        <div style="margin-top: 10px;" class="input-address">
          <label>Địa chỉ (*)</label>
          <div>
            <app-map (valueChanged)="onMapChanged($event)"
                     [formControlName]="'address'"></app-map>
          </div>
          <div style="margin-top: 10px;">
            <div *ngFor="let message of getErrorMessages(deliveryForm, 'address')"
                 class="error-msg">
              {{ message }}
            </div>
          </div>
        </div>
      </form>
    </div>
    <div style="margin-top: 10px;" class="ui-lg-12 ui-md-12 ui-sm-12 align-right">
      <p-button (click)="onPaymentNoLogin()"
                [label]="'Tiếp tục'"
                *ngIf="globalService.isPlatformBrowser()"></p-button>
    </div>
  </div>
</div>
