@import "../../../../../assets/layout/style/variable";

.layout-footer {
  background-color: #69315f;
  //background-color: $color-5;
  padding: 50px 20px;
  color: $color-1;
  text-align: center;

  .wrapper-slogan {
    margin: 0px auto;
    position: relative;
    clear: both;

    .wrapper-slogan-body {
      display: block;
      clear: both;
      position: relative;
      padding: 15px 0px;
      background-position: left top;
      color: #707070;
      font-size: 13px;

      h3 {
        text-align: left;
        font-size: 13px;
        background-image: url('/assets/layout/images/flower-512.png');
        background-repeat: no-repeat;
        background-position: left 4px;
        padding: 8px 0px 8px 30px;
        color: #d9534f;
      }

      .wrapper-slogan-body-content {
        text-align: left;
        color: #EBF4E7;
      }
    }
  }
}
