<h1>Thông tin tài khoản</h1>
<p-card>
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid"
       style="margin: 10px 0px">
    <div class="ui-grid-row">
      <div class="ui-grid-col-2">
        <label for="name">
          Họ tên
        </label>
      </div>
      <div class="ui-grid-col-7">
        <input
            [(ngModel)]="userInfo.name"
            *ngIf="globalService.isPlatformBrowser()"
            id="name"
            type="text"
            pInputText/>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-2">
        <label for="phone">
          Số điện thoại
        </label>
      </div>
      <div class="ui-grid-col-7">
        <input
            [(ngModel)]="userInfo.phone"
            *ngIf="globalService.isPlatformBrowser()"
            id="phone"
            type="text"
            pInputText/>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-2">
        <label>
          Giới tính
        </label>
      </div>
      <div class="ui-grid-col-7">
        <p-radioButton
            [(ngModel)]="userInfo.gender"
            class="ui-g-3"
            name="gender"
            [value]="1"
            label="Nam"></p-radioButton>

        <p-radioButton
            [(ngModel)]="userInfo.gender"
            class="ui-g-3"
            name="gender"
            [value]="2"
            label="Nữ"></p-radioButton>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-2">
        <label>
          Ngày sinh
        </label>
      </div>
      <div class="ui-grid-col-5">
        <p-calendar
            [(ngModel)]="userInfo.birthday"
            [dateFormat]="'yy/mm/dd'"
            [showIcon]="true"
            [monthNavigator]="true"
            [yearNavigator]="true"
            [dataType]="'string'"
            yearRange="1940:2030"></p-calendar>

      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-2">
        <label>
          Hình cá nhân
        </label>
      </div>
      <div class="ui-grid-col-5">
        <app-image-uploader *ngIf="userInfo.avatar !== null"
                            [max]="1"
                            [values]="[{link : userInfo.avatar}]"
                            (valueChanged)="uploadImage($event)"></app-image-uploader>

        <app-image-uploader *ngIf="userInfo.avatar === null"
                            [max]="1"
                            (valueChanged)="uploadImage($event)"></app-image-uploader>
        <div
            *ngIf="!imageExist"
            style="color:red;">
          Vui lòng chọn một tấm hình đại diện.
        </div>
      </div>
    </div>

    <h2>Thay đổi mật khẩu</h2>

    <div class="ui-grid-row">
      <div class="ui-grid-col-2">
        <label for="old-password">
          Mật khẩu cũ
        </label>
      </div>
      <div class="ui-grid-col-7">
        <input
            [(ngModel)]="userInfo.password"
            id="old-password"
            type="password"
            pPassword/>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-2">
        <label for="new-password">
          Mật khẩu mới
        </label>
      </div>
      <div class="ui-grid-col-7">
        <input
            [(ngModel)]="userInfo.newPassword"
            id="new-password"
            type="password"
            pPassword/>
        <div
            *ngIf="!passwordFlag"
            style="color:red;">
          Vui lòng điền mật khẩu cũ.
        </div>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-2">
        <label for="repeat-new-password">
          Nhập lại mật khẩu mới
        </label>
      </div>
      <div class="ui-grid-col-7">
        <div
            *ngIf="!confirmedPasswordFlag"
            style="color:red;">
          Mật khẩu mới và mật khẩu nhập lại không trùng khớp.
        </div>
        <div
            *ngIf="!passwordLengthFlag"
            style="color:red;">
          Độ dài mật khẩu phải trên 7 ký tự
        </div>
        <input
            [(ngModel)]="userInfo.confirmedPassword"
            id="repeat-new-password"
            type="password"
            pPassword/>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-5 ui-md-offset-2">
        <button
            (click)="updateUserInfo()"
            *ngIf="globalService.isPlatformBrowser()"
            pButton
            type="button"
            label="Cập nhật"></button>
      </div>
    </div>
  </div>
</p-card>
<p-toast></p-toast>
