<p-table [resizableColumns]="true" [value]="listProduct">
  <ng-template pTemplate="header">
    <tr>
      <th>Chọn</th>
      <th>Hành động</th>
      <th>Hình ảnh</th>
      <th colspan="2">Tên sản phẩm</th>
      <th>Giá gốc</th>
      <th>Giá khuyến mãi</th>
      <th>Số lượt mua</th>
      <th>Số lượt xem</th>
    </tr>
  </ng-template>
  <ng-template let-product pTemplate="body">
    <tr>
      <td>
        <p-checkbox [disabled]="disabledCheckbox"  (onChange)="onChangeCheckBox()" [(ngModel)]="listProductCheckObj[product._id]"
                    [binary]="true"></p-checkbox>
      </td>
      <td>
        <a routerLink="/kenh-nguoi-ban/sua-san-pham/{{product._id}}"
           title="Chỉnh sửa sản phẩm">
          <span class="pi pi-pencil"></span>
        </a>
      </td>
      <td>
        <img [src]="product?.thumbnail | appStaticImage: SizeImage.S400" style="width: 50px">
      </td>
      <td colspan="2">
        <p>{{product.title}}</p>
      </td>
      <td>
        <p>{{product.originalPrice | number}} đ</p>
      </td>
      <td>
        <p>{{product.saleOff.price | number}} đ</p>
      </td>
      <td>
        <p>{{product.sold}}</p>
      </td>
      <td>
        <p>{{product.view}}</p>
      </td>
    </tr>
  </ng-template>
</p-table>
