<p-toast [style]="{marginTop: '80px'}"></p-toast>

<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" *ngIf="form">
  <p-panel header="Validate">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          <label for="firstName">
            First Name *:
          </label>
        </div>
        <div class="ui-grid-col-6">
          <input pInputText
                 id="firstName"
                 type="text"
                 *ngIf="globalService.isPlatformBrowser()"
                 [formControlName]="'firstname'"
                 laceholder="Required"/>
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" [text]="getErrorMessages(form, 'firstname')"
                     *ngIf="getErrorMessages(form, 'firstname').length > 0"></p-message>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Last Name *:
        </div>
        <div class="ui-grid-col-6">
          <input pInputText
                 type="text"
                 *ngIf="globalService.isPlatformBrowser()"
                 formControlName="lastname"
                 placeholder="Required"/>
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" [text]="getErrorMessages(form, 'lastname')"
                     *ngIf="getErrorMessages(form, 'lastname').length > 0"></p-message>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Password *:
        </div>
        <div class="ui-grid-col-6">
          <input pInputText
                 type="password"
                 formControlName="password"
                 *ngIf="globalService.isPlatformBrowser()"
                 placeholder="Required - Min(6)"/>
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" [text]="getErrorMessages(form, 'password')"
                     *ngIf="getErrorMessages(form, 'password').length > 0"></p-message>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Description:
        </div>
        <div class="ui-grid-col-6">
          <textarea pInputTextarea
                    *ngIf="globalService.isPlatformBrowser()"
                    type="text"
                    formControlName="description"></textarea>
        </div>
        <div class="ui-grid-col-4"></div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Gender *:
        </div>
        <div class="ui-grid-col-6">
          <p-dropdown [options]="genders" formControlName="gender"></p-dropdown>
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" [text]="getErrorMessages(form, 'gender')"
                     *ngIf="getErrorMessages(form, 'gender').length > 0"></p-message>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2"></div>
        <div class="ui-grid-col-6">
          <button pButton
                  *ngIf="globalService.isPlatformBrowser()"
                  type="submit"
                  label="Submit"></button>
        </div>
        <div class="ui-grid-col-4"></div>
      </div>
      <div style="text-align:center;margin-top:20px" *ngIf="submitted">
        Form Submitted
        <br>
        {{diagnostic}}
      </div>
    </div>
  </p-panel>

  <hr>
  <h3>Upload image</h3>
  <app-image-uploader (valueChanged)="onChangeLink($event)"
                      [formControlName]="'images'"></app-image-uploader>
  <hr>
</form>


<h3>Search box</h3>
<app-search-box></app-search-box>
<hr>