<div class="layout-wrapper">
  <app-topbar></app-topbar>
  <app-brand-banner></app-brand-banner>
  <app-header-menu></app-header-menu>

  <div class="layout-content">
    <div class="ui-fluid">

      <!--Main content-->
      <div class="ui-g">
        <div class="ui-lg-offset-1 ui-lg-10 ui-md-12 ui-md-offset-0 ui-sm-offset-0 ui-sm-12">
          <div *ngIf="breadcrumbItems.length > 0">
            <p-breadcrumb [model]="breadcrumbItems"></p-breadcrumb>
          </div>

          <div>
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
   <p-growl></p-growl>

</div>

<div id="loading-spinner" #spinner>
  <p-progressSpinner></p-progressSpinner>
</div>