<div class="ui-fluid">
  <form [formGroup]="resetPasswordForm">
    <div class="ui-g">
      <h2>Đặt lại mật khẩu</h2>
    </div>
    <div class="ui-g">
        <div class="ui-g-12 ui-lg-2 ui-md-2 ui-sm-3">
          <div class="form-label">
            Mật khẩu (*):
          </div>
        </div>
        <div class="ui-g-12 ui-lg-4 ui-md-4 ui-sm-4">
            <input  type="password"
                    formControlName="password"
                    *ngIf="globalService.isPlatformBrowser()"
                    pInputText
                    autocomplete="off"/>
  
          <div *ngFor="let message of getErrorMessages(resetPasswordForm, 'password')" class="error-msg">{{message}}</div>
        </div>
      </div>
    <div class="ui-g">
      <div class="ui-g-12 ui-lg-2 ui-md-2 ui-sm-3">
          <div class="form-label">
            Nhập lại mật khẩu (*):
          </div>
      </div>
      <div class="ui-g-12 ui-lg-4 ui-md-4 ui-sm-4">
          <input  type="password"
                  formControlName="confirmedPassword"
                  *ngIf="globalService.isPlatformBrowser()"
                  pInputText
                  autocomplete="off"/>

      <div *ngFor="let message of getErrorMessages(resetPasswordForm, 'confirmedPassword')" class="error-msg">{{message}}</div>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12 ui-lg-2 ui-md-2 ui-sm-3"></div>
      <div class="ui-g-12 ui-lg-4 ui-md-4 ui-sm-4 align-center" id="btn-sign-in">
        <p-button label="Đặt lại mật khẩu"
                  [disabled]="resetPasswordForm.invalid"
                  *ngIf="globalService.isPlatformBrowser()"
                  (click)="onSubmit()"
                  iconPos="right"></p-button>
      </div>
    </div>
  </form>
</div>


