<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
  <div class="ui-grid-row">
    <div class="ui-md-9">
      <p-card>
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
          <div *ngFor="let item of news">
            <div class="ui-g-12 ui-md-12 ui-sm-12 ui-lg-12" style="padding: 0px">
              <app-new-item [news]="item"></app-new-item>
            </div>
          </div>
        </div>
      </p-card>

      <div class="ui-grid-row" *ngIf="conf.totalItems > conf.limit">
        <div class="ui-md-7 ui-lg-9">
        </div>
        <div class="ui-g-12 ui-md-7 ui-lg-5">
          <p-paginator [rows]="conf.limit"
                       [totalRecords]="conf.totalItems"
                       pageLinkSize="3"
                       #paginator
                       (onPageChange)="changePage($event)"
                       templateRight></p-paginator>
        </div>
      </div>
    </div>


    <div class="ui-md-3">
      <div class="box-search">
        <h3>Công cụ tìm kiếm</h3>
        <app-search-box [data]="searchQuery"
                        (valueChange)="onSearch($event)">
        </app-search-box>
      </div>
    </div>
  </div>
</div>
