<!--<div class="hidden-xs">-->
<p-steps [model]="items"
         styleClass="steps-custom"
         [activeIndex]="1"
         *ngIf="globalService.isPlatformBrowser()"></p-steps>
<!--</div>-->

<div class="ui-fluid">
  <div class="ui-g">
    <div class="ui-md-7 ui-sm-12">
      <div class="ui-g">
        <h2>1. Chọn hình thức thanh toán</h2>

      </div>
      <div class="ui-g">
        <div class="ui-lg-12 ui-md-12 ui-sm-12">
          <p-checkbox binary="true"
                      [(ngModel)]="checkedBankTransfer"
                      label="Chuyển khoản ngân hàng"
          ></p-checkbox>
        </div>
        <div class="ui-lg-12 ui-md-12 ui-sm-12">
          <p-checkbox binary="true"
                      [disabled]="true"
                      label="Thanh toán thông qua Visa"
          ></p-checkbox>

        </div>
        <div class="ui-lg-12 ui-md-12 ui-sm-12">
          <p-checkbox binary="true"
                      [disabled]="true"
                      label="Thanh toán thông qua ví MoMo"
          ></p-checkbox>
        </div>
        <div class="ui-lg-12 ui-md-12 ui-sm-12">
          <p-checkbox binary="true"
                      [disabled]="true"
                      label="Thanh toán thông qua ZaloPay"
          ></p-checkbox>
        </div>
      </div>
      <div class="ui-g">
        <h2>2. Thông tin người mua</h2>
      </div>
      <div class="ui-g">
        <p-checkbox binary="true"
                    [(ngModel)]="checked"
                    label="Thông tin xuất hóa đơn"
                    disabled
                    *ngIf="globalService.isPlatformBrowser()"></p-checkbox>
      </div>
      <div style="margin-top: 20px;"></div>
      <div class="ui-g">
        <p-checkbox binary="true"
                    [(ngModel)]="checked"
                    label="Sử dụng họ tên và số điện thoại của địa chỉ giao hàng"
                    disabled
                    *ngIf="globalService.isPlatformBrowser()"></p-checkbox>
      </div>
      <div style="margin-top: 20px;"></div>
      <div class="ui-g">
        <p-checkbox binary="true"
                    [(ngModel)]="checkedCall"
                    label="Cần gọi điện trước khi giao hàng?"></p-checkbox>
      </div>
      <div class="ui-g">
        <div class="ui-md-10">
          <p>Từ ngày 9/1/2020, Flower Shop CHUYỂN SANG PHÁT HÀNH HÓA ĐƠN ĐIỆN TỬ. Tìm hiểu thêm tại đây</p>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-lg-12 ui-md-12 ui-sm-12 align-right">
          <p-button label="Đặt mua"
                    [styleClass]="'ui-button-success'"
                    [disabled]="!checkedBankTransfer"
                    (click)="onSubmitOrder()"
                    *ngIf="globalService.isPlatformBrowser()"></p-button>
          <p>
            <small><em>Vui lòng kiểm tra lại thông tin thanh toán đầy đủ trước khi đặt hàng</em></small>
          </p>
        </div>
      </div>
    </div>
    <div class="ui-md-5 ui-sm-12">
      <div class="ui-g">
        <div class="ui-md-12 ui-sm-12">
          <p-card>
            <div class="ui-g">
              <div class="ui-lg-10 ui-md-8 ui-sm-12"><h3>Địa chỉ giao hàng</h3></div>
              <div class="ui-lg-2 ui-md-2 ui-sm-12">
                <p-button label="Sửa"
                          styleClass="ui-button-warning"
                          (click)="onBackToDelivery()"
                          *ngIf="globalService.isPlatformBrowser()"></p-button>
              </div>
            </div>
            <hr>
            <p>Tên người nhận: {{info.name}}</p>
            <p>Địa chỉ: {{info.address}}</p>
            <p>Điện thoại: {{info.phone}}</p>
            <br>
            <p><em>Giao vào ngày: {{info.deliveryTime | date: 'dd/MM/yyyy'}} giờ: {{info.expectedDeliveryTime}}</em></p>
          </p-card>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-md-12 ui-sm-12">
          <p-card>
            <div class="ui-g">
              <div class="ui-lg-10 ui-md-8 ui-sm-12"><h3>Đơn hàng</h3></div>
              <div class="ui-lg-2 ui-md-2 ui-sm-12">
                <p-button label="Sửa"
                          styleClass="ui-button-warning"
                          (click)="onBackToCart()"
                          *ngIf="globalService.isPlatformBrowser()"></p-button>
              </div>
            </div>
            <hr>
            <div class="ui-g" *ngFor="let item of orderItems">
              <div class="ui-md-12">

                <div class="ui-g">
                  <div class="ui-lg-3 ui-md-3 ui-sm-3">
                    <img class="product-thumbnail" src="{{item.product.images[0] | appStaticImage: SizeImage.S400}}"
                         [alt]="item.product.title">
                  </div>
                  <div class="ui-lg-9 ui-md-9 ui-sm-9">
                    <p>{{item.quantity}} x {{item.product.title}}</p>
                    <p>Cung cấp bởi: {{item.shop.name}}</p>
                    <br>
                    <p *ngIf="item.product.saleOff?.active">
                      Giá: {{item.product.saleOff.price * item.quantity | number: '.0-2'}} đ</p>
                    <p *ngIf="!item.product.saleOff?.active">
                      Giá: {{item.product.originalPrice * item.quantity | number: '.0-2'}} đ</p>
                  </div>
                </div>
                <hr>
              </div>
            </div>
            <div class="ui-g">
              <p>Tạm tính: {{total | number: '.0-2'}} đ</p>
            </div>
            <hr>
            <div class="ui-g">
              <p>Phí ship: {{totalShippingCost | number: '.0-2'}} đ</p>
            </div>
            <hr>
            <h2>Thành tiền: {{total + totalShippingCost | number: '.0-2'}} đ</h2>
          </p-card>
        </div>
      </div>
    </div>
  </div>
</div>

<p-toast key="payment-message"></p-toast>
<p-dialog [(visible)]="displayDialogFlag"
          #orderDialog
          (onShow)="onShowDialog()"
          [modal]="true"
          [breakpoint]="500"
          [style]="{width: '800px', minWidth: '300px' }"
          [maximizable]="true"
          [baseZIndex]="10000"
          [minY]="70"
          [header]="'Vui lòng kiểm tra lại đơn hàng.'"
          [responsive]="true">
  <div class="wrapper-confirm-order">
    <div class="confirm-order-customer-information">
      <div class="ui-g">
        <div class="ui-lg-12 ui-md-12 ui-sm-12"><b>Khách hàng:</b> {{ info.name }} </div>
        <div class="ui-lg-12 ui-md-12 ui-sm-12"><b>Địa chỉ:</b> {{ info.address }} </div>
        <div class="ui-lg-12 ui-md-12 ui-sm-12"><b>Số điện thoại:</b> {{ info.phone }} </div>
      </div>
    </div>
    <div class="confirm-order-table">
      <div class="ui-g">
        <div></div>
        <div class="ui-lg-2 ui-md-2 ui-sm-2">Hình ảnh</div>
        <div class="ui-lg-3 ui-md-3 ui-sm-3">Tên sản phẩm</div>
        <div class="ui-lg-2 ui-md-2 ui-sm-2">Số lượng</div>
        <div class="ui-lg-2 ui-md-2 ui-sm-2">Đơn giá</div>
        <div class="ui-lg-3 ui-md-3 ui-sm-3">Thành tiền</div>
      </div>
      <hr>
      <div class="ui-g" *ngFor="let item of orderItems">
        <div class="ui-lg-2 ui-md-2 ui-sm-2"><img class="product-thumbnail" src="{{item.product.images[0] | appStaticImage: SizeImage.S400}}"
                  [alt]="item.product.title"></div>
        <div class="ui-lg-3 ui-md-3 ui-sm-3">{{ item.product.title }}</div>
        <div class="ui-lg-2 ui-md-2 ui-sm-2">x {{ item.quantity }}</div>
        <div class="ui-lg-2 ui-md-2 ui-sm-2"
             *ngIf="item.product.saleOff?.active">{{ item.product.saleOff.price | number: '.0-2'}} đ
        </div>
        <div class="ui-lg-2 ui-md-2 ui-sm-2"
             *ngIf="!item.product.saleOff?.active">{{ item.product.originalPrice | number: '.0-2'}} đ
        </div>
        <div class="ui-lg-3 ui-md-3 ui-sm-3"
             *ngIf="item.product.saleOff?.active">{{item.product.saleOff.price * item.quantity | number: '.0-2'}} đ
        </div>
        <div class="ui-lg-3 ui-md-3 ui-sm-3"
             *ngIf="!item.product.saleOff?.active">{{item.product.originalPrice * item.quantity | number: '.0-2'}} đ
        </div>
      </div>

      <hr>

      <div class="ui-g"
           style="font-size: 14px">
        <div class="ui-lg-9 ui-md-9 ui-sm-9">
          Phí ship:
        </div>
        <div class="ui-lg-3 ui-md-3 ui-sm-3">
          {{info.totalShippingCost | number: '.0-2'}} đ
        </div>
      </div>
      <div class="ui-g"
           style="font-size: 18px">
        <div class="ui-lg-9 ui-md-9 ui-sm-9">
          Tổng
        </div>
        <div class="ui-lg-3 ui-md-3 ui-sm-3">

          {{total + totalShippingCost | number: '.0-2'}} đ
        </div>
      </div>
    </div>
  </div>

  <p-footer>
    <div class="text-center">
      <button pButton
              type="button"
              (click)="confirmOrder(true)"
              label="Xác nhận"></button>

      <button pButton
              type="button"
              (click)="confirmOrder(false)"
              label="Quay lại"
              class="ui-button-secondary"></button>
    </div>
  </p-footer>
</p-dialog>
