<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
  <div *ngFor="let product of saleProducts">
    <div class="ui-g-12 ui-md-3 ui-sm-6 ui-lg-3">
      <app-product-item [product]="product" [showSaleOff]="true"></app-product-item>
    </div>
  </div>
</div>