<p-panel *ngFor="let order of orderList; let i = index"
         [toggleable]="true"
         [styleClass]="'order'">
  <p-header>
    <span class="order-overview-info">
      <span class="order-submit-day"
            *ngIf="order.order.submitAt">
        {{order.order.submitAt | date: 'dd-MM-y'}}
      </span>

      <span [ngSwitch]="order.orderItems[0].status">
        <b style="color: rgba(255,70,80,0.96);"
           *ngSwitchCase="status.ORDER_ITEM_PROCESSING">Đơn hàng mới</b>
          <b style="color: #9c8f10;"
             *ngSwitchCase="status.ORDER_ITEM_ON_DELIVERY">Đang vận chuyển</b>
          <b style="color: #009c2d;"
             *ngSwitchCase="status.ORDER_ITEM_FINISHED">Đã giao</b>
      </span>

      <span class="order-buyer">
        <span *ngIf="order.order.buyerInfo">
          {{order.order.buyerInfo.name}} -
          <a href="tel:{{order.order.buyerInfo.phone}}">
            <i class="pi pi-share-alt"></i>
            Gọi
            {{order.order.buyerInfo.phone}}
          </a>
        </span>
        <span *ngIf="!order.order.buyerInfo">
          {{order.address.name}} -
          <a href="tel:{{order.address.phone}}">
            <i class="pi pi-share-alt"></i>
            Gọi
            {{order.address.phone}}
          </a>
        </span>
      </span>
    </span>
  </p-header>

  <div class="order-overview-info">
    <div class="order-buyer-address">
      Địa chỉ: <i>{{order.address.addressText}}</i>
    </div>
  </div>
  <div class="order-products">
    <div class="ui-grid-row">
      <div class="ui-g-7">
        Sản phẩm
      </div>
      <div class="ui-g-2">
        Số lượng
      </div>
      <div class="ui-g-3 text-right">
        Giá
      </div>
    </div>
    <div class="ui-grid-row"
         *ngFor="let oi of order.orderItems">
      <div class="ui-g-7">
        <a routerLink="/chi-tiet/{{oi.product.slug}}">
          {{oi.product.title}}
        </a>
      </div>
      <div class="ui-g-2 text-center">
        x{{oi.quantity}}
      </div>
      <div class="ui-g-3 text-right">
        {{oi.price | number: '.0-2'}}
      </div>
    </div>
    <hr>
    <div class="ui-grid-row">
      <div class="ui-g-offset-7 ui-g-2">
        Giá ship
      </div>
      <div class="ui-g-3 text-right">
        {{order.orderItems[0].shippingCost | number: '.0-2'}}
      </div>
    </div>
    <div class="ui-grid-row order-total">
      <div class="ui-g-offset-7 ui-g-2">
        Tổng
      </div>
      <div class="ui-g-3 text-right">
        {{ order.total + order.orderItems[0].shippingCost | number: '.0-2'}}
      </div>
    </div>
  </div>

  <p-footer *ngIf="order.orderItems[0].status !== status.ORDER_ITEM_FINISHED">
    <div class="order-actions"
         [ngSwitch]="order.orderItems[0].status">
      <ng-container *ngSwitchCase="status.ORDER_ITEM_PROCESSING">
        <button pButton
                class="ui-button-secondary"
                (click)="getStatus(status.ORDER_ITEM_ON_DELIVERY, i)"
                type="button"
                label="Đang vận chuyển"></button>

        <button pButton
                icon="pi pi-check"
                (click)="getStatus(status.ORDER_ITEM_FINISHED, i)"
                type="button"
                class="ui-button-success"
                label="Hoàn thành"></button>
      </ng-container>

      <ng-container *ngSwitchCase="status.ORDER_ITEM_ON_DELIVERY">
        <button pButton
                icon="pi pi-check"
                (click)="getStatus(status.ORDER_ITEM_FINISHED, i)"
                type="button"
                class="ui-button-success"
                label="Hoàn thành"></button>
      </ng-container>
    </div>
  </p-footer>
</p-panel>

<p-paginator #paginator
             *ngIf="totalItems > 10"
             [rows]="10"
             [totalRecords]="totalItems"
             (onPageChange)="onPageChange($event)"></p-paginator>


