.order {
 margin-bottom: 25px;

 .ui-card-body {
  padding: 0;
 }

 .order-overview-info {
  .order-submit-day {
   font-size: 12px;
   color: rgba(32, 32, 32, 0.98);
  }

  .order-buyer {
   padding: 0 10px;
   font-weight: bold;
  }

  .order-buyer-address {
  }
 }

 .order-products {
  margin-top: 15px;
  //padding-left: 30px;
  .order-total {
   font-size: 16px;
   color: #640038;
   font-weight: bold;
  }
 }

 .order-actions {
  &:after {
   content: '';
   display: block;
   clear: both;
  }

  button {
   float: right;
   width: auto;
   margin-left: 5px;
  }
 }
}