<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
  <div  *ngFor="let item of news">
    <div class="ui-g-12 ui-md-3 ui-sm-6 ui-lg-3">
      <app-new-card-item [news]="item"></app-new-card-item>
    </div>
  </div>
</div>
