<p-card>
  <h1 class="align-center">ĐĂNG KÝ BÁN HÀNG CÙNG FLOWER SHOP</h1>
  <p class="align-center">Cảm ơn đối tác đã tin tưởng và lựa chọn đồng hành cùng FlowerShop</p>
  <p class="align-center">Vui lòng hoàn tất thông tin để tạo tài khoản đăng nhập Trung Tâm Bán Hàng - Flower Shop
    Seller Center </p>

  <div class="register-shop-wrapper">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="ui-g">
        <div class="ui-lg-4 ui-md-12 ui-sm-12">
          <label for="shopName">
            * Tên cửa hàng
          </label>
        </div>
        <div class="ui-lg-6 ui-md-12 ui-sm-12">
          <input pInputText
                 *ngIf="globalService.isPlatformBrowser()"
                 [formControlName]="'name'"
                 (change)="onNameChanged($event)"
                 id="shopName"
                 type="text"/>
          <i>Không chứa tên miền hoặc ký tự đặc biệt</i>
          <div>
            <div *ngFor="let message of getErrorMessages(form, 'name')" style="color: red">{{message}}</div>
          </div>
        </div>
      </div>

      <div class="ui-g">
        <div class="ui-lg-12 ui-md-12 ui-sm-12">
          <label>
            <b>Lưu ý: Tên cửa hàng cố định với đường link, không thể thay đổi</b>
          </label>
        </div>
      </div>

      <div class="ui-g">
        <div class="ui-lg-4 ui-md-12 ui-sm-12">
        </div>
        <div class="ui-lg-6 ui-md-12 ui-sm-12">
          <input pInputText
                 *ngIf="globalService.isPlatformBrowser()"
                 [formControlName]="'slug'"
                 (change)="checkSlug($event)"
                 type="text"/>
          <div>
            <div *ngFor="let message of getErrorMessages(form, 'slug')" style="color: red">{{message}}</div>
          </div>
        </div>
        <div class="ui-lg-2 ui-md-12 ui-sm-12" *ngIf="slugFlag.display">
          <div class="ui-g">
            <div class="ui-lg-12 ui-md-12 ui-sm-12" *ngIf="slugFlag.state" style="color: greenyellow;">
              <i class="pi pi-check"></i><span>Slug hợp lệ</span>
            </div>
            <div class="ui-lg-12 ui-md-12 ui-sm-12" *ngIf="!slugFlag.state" style="color: red;">
              <i class="pi pi-times"></i><span>Slug không hợp lệ</span>
            </div>
          </div>
        </div>
      </div>

      <div class="ui-g">
        <div class="ui-lg-4 ui-md-12 ui-sm-12">
          <label>
            * Giao hàng trên toàn quốc
          </label>
        </div>
        <div class="ui-lg-4 ui-md-12 ui-sm-12">
          <p-inputSwitch
              (onChange)="onChangeSwitch($event)"></p-inputSwitch>
        </div>
      </div>

      <div class="ui-g">
        <div class="ui-lg-4 ui-md-12 ui-sm-12">
          <label>
            * Hình ảnh cửa hàng
          </label>
        </div>
        <div class="ui-lg-8 ui-md-12 ui-sm-12">
          <app-image-uploader [formControlName]="'images'"></app-image-uploader>
          <div>
            <div *ngFor="let message of getErrorMessages(form, 'images')" style="color: red">{{message}}
            </div>
          </div>
        </div>
      </div>

      <div class="ui-g">
        <div class="ui-lg-4 ui-md-12 ui-sm-12">
          <label>
            <b>* Địa chỉ cửa hàng của bạn:</b>
          </label>
        </div>
      </div>

      <div class="ui-g">
        <div class="ui-lg-12 ui-md-12 ui-sm-12">
          <div>
            <app-map [coords]="_location" (valueChanged)="onMapChanged($event)"
                     [formControlName]="'address'"></app-map>
          </div>
          <div>
            <div *ngFor="let message of getErrorMessages(form, 'address')"
                 style="color: red">
              {{ message }}
            </div>
          </div>
        </div>
      </div>

    </form>

    <div *ngIf="!deliveryFlag">
      <b>Chọn Tỉnh/Thành phố, Quân/Huyên cửa hàng có thể giao sản phẩm</b>
      <div *ngFor="let location of collectionLocation.locations; let i = index">
        <div class="ui-g">
          <div class="ui-lg-4 ui-md-12 ui-sm-12">
            <label>
              * Tỉnh/Thành Phố
            </label>
          </div>
          <div class="ui-lg-3 ui-md-12 ui-sm-12">
            <p-dropdown
                [options]="citySource"
                (onChange)="onChangeCity($event,i)"
                placeholder="Chọn Tỉnh/Thành Phố"
                [optionLabel]="'name'"></p-dropdown>
          </div>
          <div class="ui-lg-1 ui-md-3 ui-sm-4" *ngIf="i > 0">
            <button pButton
                    (click)="removeLocation(i)"
                    type="button"
                    label="Xoá"
                    class="ui-button-danger"></button>
          </div>
          <div class="ui-lg-12 ui-md-12 ui-sm-12" style="color: red;">
            <span *ngIf="!location.isValid">Trường bắt buộc</span><br>
            <span
                *ngIf="!location.isDuplicateCity">Bạn đã chọn trùng thành phố, xin vui lòng chọn thành phố khác !</span>
          </div>
          <div class="ui-lg-12">
            <div class="ui-g" *ngIf="!!location.selectedCityCode">
              <!--Checkbox: all-->
              <div class="ui-lg-2 ui-md-3 ui-sm-6">
                <p-checkbox (onChange)="selectAllDistrictsOfCity($event, i)"
                            [binary]="true"
                            [(ngModel)]="location.isSelectAllDistrict"
                            [label]="'Chọn tất cả'"></p-checkbox>
              </div>

              <div class="ui-lg-2 ui-md-3 ui-sm-6" *ngFor="let district of location.district">
                <p-checkbox (onChange)="chooseDistricts(i)"
                            [(ngModel)]="location.selectedDistrict"
                            [value]="district.id"
                            [label]="district.name"></p-checkbox>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui-lg-3 ui-md-5 ui-sm-8">
        <button
            pButton
            (click)="addLocation()"
            label="Thêm địa chỉ mới"
            class="ui-button-success"
            type="button"
            icon="pi pi-plus-circle"></button>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-lg-offset-4 ui-md-offset-4 ui-sm-offset-3">
        <button pButton
                *ngIf="globalService.isPlatformBrowser()"
                type="button"
                (click)="onSubmit()"
                label="Đăng ký bán hàng"></button>
      </div>
    </div>
  </div>

</p-card>
<p-toast></p-toast>
