@import "variable";

@mixin shadow($value) {
 -webkit-box-shadow: $value;
 -moz-box-shadow: $value;
 box-shadow: $value;
}

body {
 font-family: "Open Sans", "Helvetica Neue", sans-serif;
 color: #333333;
 font-size: 13px;
 padding: 0;
 margin: 0;

 &.layout-scroll-block {
  overflow: hidden;
 }
}

.layout-wrapper {
 .layout-topbar {

 }
}

.hidden-xs {

}

.show-xs {
 display: none !important;
}

@media screen and (max-width: 767px) {
 .hidden-xs {
  display: none !important;
 }

 .show-xs {
  display: inline-block !important;
 }
}

@media screen and (min-width: 767px) {
 //.hidden-xs {
 // display: inline-block !important;
 //}
 //
 //.show-xs {
 // display: none !important;
 //}
}

::ng-deep p-dialog .ui-dialog {
 overflow: scroll;
 max-height: 100%;
}

.swal2-container {
 z-index: 5000 !important;
}

.text-center {
 text-align: center;
}

.text-left {
 text-align: left;
}

.text-right {
 text-align: right;
}

.clearfix{
 &:after{
  content: '';
  display: block;
  clear: both;
 }
}