<h1>Thêm mới sản phẩm</h1>
<form action="" novalidate *ngIf="form" [formGroup]="form">
  <p-card header="Thông tin cơ bản">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          <label for="productName">
            Tên sản phẩm (*)
          </label>
        </div>
        <div class="ui-grid-col-7">
          <input pInputText *ngIf="globalService.isPlatformBrowser()" [formControlName]="'title'" id="productName"
            type="text" />
          <p-message severity="error" [text]="getMessageErrors('title')" *ngIf="getMessageErrors('title').length > 0">
          </p-message>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          <label>Chủ đề (*)</label>
        </div>
        <div class="ui-grid-col-7">
          <p-dropdown [options]="searchSelector.TopicsForShop" [formControlName]="'topic'" [showClear]="true"
            placeholder="--Chọn chủ đề--" (onChange)="onTopicChanged($event)" [optionLabel]="'text'"></p-dropdown>
          <p-message severity="error" [text]="getMessageErrors('topic')" *ngIf="getMessageErrors('topic').length > 0">
          </p-message>
        </div>
      </div>

      <div class="ui-grid-row" *ngIf="!isGiftOrComoTopic">
        <div class="ui-grid-col-2">
          <label>Loại hoa (*)</label>
        </div>
        <div class="ui-grid-col-7">
          <p-dropdown [options]="searchSelector.Florets" [formControlName]="'floret'" [showClear]="true"
            placeholder="--Chọn loại hoa--" [optionLabel]="'text'"></p-dropdown>
          <p-message severity="error" [text]="getMessageErrors('floret')" *ngIf="getMessageErrors('floret').length > 0">
          </p-message>
        </div>
      </div>

      <div class="ui-grid-row" *ngIf="showSelectSpecialOccasion === true && !isGiftOrComoTopic">
        <div class="ui-grid-col-2">
          <label>Hoa dịp đặc biệt</label>
        </div>
        <div class="ui-grid-col-7">
          <p-dropdown [options]="searchSelector.SpecialOccasions" [formControlName]="'specialOccasion'"
            [showClear]="true" placeholder="--Chọn dịp đặc biệt--" [optionLabel]="'text'"></p-dropdown>
          <p-message severity="error" [text]="getMessageErrors('specialOccasion')"
            *ngIf="getMessageErrors('specialOccasion').length > 0"></p-message>
        </div>
      </div>

      <div class="ui-grid-row" *ngIf="!isGiftOrComoTopic">
        <div class="ui-grid-col-2">
          <label>Kiểu dáng</label>
        </div>
        <div class="ui-grid-col-7">
          <p-dropdown [options]="searchSelector.Designs" [formControlName]="'design'" [showClear]="true"
            placeholder="--Chọn kiểu dáng hoa--" [optionLabel]="'text'"></p-dropdown>
          <p-message severity="error" [text]="getMessageErrors('design')" *ngIf="getMessageErrors('design').length > 0">
          </p-message>
        </div>
      </div>
      <div class="ui-grid-row" *ngIf="!isGiftOrComoTopic">
        <div class="ui-grid-col-2">
          <label>Màu sắc</label>
        </div>
        <div class="ui-grid-col-7">
          <p-dropdown [options]="searchSelector.Colors" [formControlName]="'color'" [showClear]="true"
            placeholder="--Chọn màu sắc hoa--" [optionLabel]="'text'"></p-dropdown>
          <p-message severity="error" [text]="getMessageErrors('color')" *ngIf="getMessageErrors('color').length > 0">
          </p-message>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          <label>Giá tiền (*)</label>
        </div>
        <div class="ui-grid-col-7">
          <input pInputText *ngIf="globalService.isPlatformBrowser()" [formControlName]="'originalPrice'"
            (change)="onChangeInput($event, true)" pKeyFilter="money">

          <p-message severity="error" [text]="getMessageErrors('originalPrice')"
            *ngIf="getMessageErrors('originalPrice').length > 0"></p-message>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          <label>Khuyến mãi</label>
        </div>

        <div class="ui-grid-col-7">
          <p-checkbox binary="true" label="Kích hoạt" (onChange)="onChangedSaleActive($event)"
            [formControlName]="'saleActive'"></p-checkbox>
          <p-message severity="error" [text]="getMessageErrors('saleActive')"
            *ngIf="getMessageErrors('saleActive').length > 0"></p-message>

        </div>
      </div>

      <div class="ui-grid-row" *ngIf="!disableSettings.sale">
        <div class="ui-grid-col-2">
          <label>Giá khuyến mãi (*)</label>
        </div>

        <div class="ui-grid-col-7">
          <input pInputText *ngIf="globalService.isPlatformBrowser()" [formControlName]="'salePrice'"
            (change)="onChangeInput($event, false)" pKeyFilter="money">

          <p-message severity="error" [text]="getMessageErrors('salePrice')"
            *ngIf="getMessageErrors('salePrice').length > 0"></p-message>
        </div>
      </div>

      <div class="ui-grid-row" *ngIf="!disableSettings.sale">
        <div class="ui-grid-col-2">
          <label>Ngày bắt đầu (*)</label>
        </div>

        <div class="ui-grid-col-7">
          <p-calendar [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" dateFormat="dd/mm/yy"
            yearRange="1940:2030" [formControlName]="'startDate'">

          </p-calendar>
          <p-message severity="error" [text]="getMessageErrors('startDate')"
            *ngIf="getMessageErrors('startDate').length > 0"></p-message>
        </div>
      </div>

      <div class="ui-grid-row" *ngIf="!disableSettings.sale">
        <div class="ui-grid-col-2">
          <label>Ngày kết thúc (*)</label>
        </div>

        <div class="ui-grid-col-7">
          <p-calendar [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" dateFormat="dd/mm/yy"
            yearRange="1940:2030" [formControlName]="'endDate'">

          </p-calendar>
          <p-message severity="error" [text]="getMessageErrors('endDate')"
            *ngIf="getMessageErrors('endDate').length > 0"></p-message>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          <label>Miễn phí ship</label>
        </div>

        <div class="ui-grid-col-7">
          <p-checkbox binary="true" label="Kích hoạt" [formControlName]="'freeShip'"></p-checkbox>
          <p-message severity="error" [text]="getMessageErrors('freeShip')"
            *ngIf="getMessageErrors('freeShip').length > 0"></p-message>

        </div>
      </div>

    </div>
  </p-card>

  <p-card header="Thông tin mô tả" [style]="{'margin-top': '20px'}">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          <label>Mô tả (*)</label>
        </div>
        <div class="ui-grid-col-10">
          <p-editor [formControlName]="'description'" *ngIf="globalService.isPlatformBrowser()"
            [style]="{'height':'320px'}"></p-editor>

          <p-message severity="error" [text]="getMessageErrors('description')"
            *ngIf="getMessageErrors('description').length > 0"></p-message>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          <label>Từ khoá</label>
        </div>

        <div class="ui-grid-col-7">
          <i>Nhập từ khoá, mỗi từ khoá cách nhau một lần 'enter'</i>
          <p-chips [formControlName]="'keywordList'"></p-chips>
          <p-message severity="error" [text]="getMessageErrors('keywordList')"
            *ngIf="getMessageErrors('keywordList').length > 0"></p-message>
        </div>
      </div>
    </div>
  </p-card>

  <p-card header="Hình sản phẩm" [style]="{'margin-top': '20px'}">
    <app-image-uploader [formControlName]="'images'"></app-image-uploader>
    <p-message severity="error" [text]="getMessageErrors('images')" *ngIf="getMessageErrors('images').length > 0">
    </p-message>
  </p-card>

  <p-card *ngIf="!isGiftOrComoTopic" header="Thông tin khác" [style]="{'margin-top': '20px'}">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
      <!--<div class="ui-grid-row">-->
      <!--<div class="ui-grid-col-2">-->
      <!--<label>Giao hàng tối thiểu trong</label>-->
      <!--</div>-->
      <!--<div class="ui-grid-col-7">-->
      <!--&lt;!&ndash;        // TODO: confirm type: need to confirm&ndash;&gt;-->
      <!--<p-chips></p-chips>-->
      <!--</div>-->
      <!--</div>-->

      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          <label>SKU sản phẩm (*)</label>
        </div>
        <div class="ui-grid-col-7">
          <input type="text" *ngIf="globalService.isPlatformBrowser()" [formControlName]="'sku'" pInputText />
          <p-message severity="error" [text]="getMessageErrors('sku')" *ngIf="getMessageErrors('sku').length > 0">
          </p-message>
        </div>
      </div>
    </div>
  </p-card>

  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <button pButton (click)="onClickBtnCancel()" *ngIf="globalService.isPlatformBrowser()" type="button" label="Huỷ"
          class="ui-button-raised ui-button-secondary"></button>
      </div>
      <div class="ui-grid-col-4">
        <button pButton (click)="onClickBtnSaveAndHide()" *ngIf="globalService.isPlatformBrowser()" type="button"
          label="Lưu và ẩn" class="ui-button-raised"></button>
      </div>
      <div class="ui-grid-col-4">
        <button pButton *ngIf="globalService.isPlatformBrowser()" (click)="onClickBtnSaveAndShow()" type="button"
          label="Lưu và hiển thị" class="ui-button-raised"></button>
      </div>
    </div>
  </div>
</form>

<p-toast></p-toast>