<div>
  <div class="ui-grid-col-12">
    <div class="card">
      <div class="product-image">
        <a routerLink="/tin-tuc/{{news?.url}}"
           [title]="news.title">
          <div class="product-image-w">
            <img class="card-img-top"
                 [alt]="news.title"
                 [src]="news?.image | appStaticImage: SizeImage.S400">
          </div>
        </a>
      </div>

      <div class="card-block">
        <h5 class="card-title">
          <a routerLink="/tin-tuc/{{news?.url}}"
             title="{{news.title}}"
             class="product-name">
            {{ news.title }}
          </a>
        </h5>
      </div>

      <div class="card-footer">
        <div class="datetime">{{news.createdAt | date: 'dd-MM-yyyy'}}</div>
        <div class="description">
          {{news.description}}
        </div>
      </div>
    </div>
  </div>
</div>
