.col-order-code {
 max-width: 130px;
 width: 130px;
 text-align: center;
}

.col-order-buy-at {
 max-width: 150px;
 width: 150px;
}

.col-order-price {
 max-width: 120px;
 width: 120px;
 text-align: right
}

.col-order-status {
 max-width: 200px;
 width: 200px;
}