<div class="ui-fluid">
  <div class="ui-g">
    <div class="ui-g-2 ui-md-3 ui-sm-12">
      <p-card>
        <h4>
          Tài khoản của
          <span style="color: #1106ff">{{userInfo?.name}}</span>
        </h4>
        <div class="profile-link">
          <a routerLink="thong-tin-ca-nhan"
             routerLinkActive="active">
            <span class="pi pi-user"></span>
            Thông tin tài khoản
          </a>
        </div>
        <div class="profile-link">
          <a routerLink="thong-bao"
             routerLinkActive="active">
            <span class="pi pi-inbox"></span>
            Thông báo của tôi
          </a>
        </div>
        <div class="profile-link">
          <a routerLink="don-hang"
             routerLinkActive="active">
            <span class="pi pi-list"></span>
            Quản lý đơn hàng
          </a>
        </div>
        <div class="profile-link">
          <a routerLink="so-dia-chi"
             routerLinkActive="active">
            <span class="pi pi-map-marker"></span>Sổ địa chỉ</a>
        </div>
        <div class="profile-link">
          <a routerLink="dang-ky-ban-hang"
             routerLinkActive="active">
            <span class="pi pi-map-marker"></span>Đăng ký bán hàng</a>
        </div>
        <div class="profile-link">
          <a routerLink="nap-tien-vao-tai-khoan"
             routerLinkActive="active">
            <span class="pi pi-dollar"></span>Nạp tiền vào tài khoản</a>
        </div>
      </p-card>
    </div>
    <div class="ui-g-10 ui-md-9 ui-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
