<p-card>
  <h1 class="align-center">ĐĂNG KÝ BÁN HÀNG CÙNG FLOWER SHOP</h1>
  <p class="align-center">Cảm ơn đối tác đã tin tưởng và lựa chọn đồng hành cùng FlowerShop</p>
  <p class="align-center">Vui lòng hoàn tất thông tin để tạo tài khoản đăng nhập Trung Tâm Bán Hàng - Flower Shop
    Seller Center </p>

  <div class="register-shop-wrapper">

    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-grid-row">
          <div class="ui-lg-4 ui-md-12 ui-sm-12">
            Email (*):
          </div>
          <div class="ui-lg-6 ui-md-12 ui-sm-12">
            <input *ngIf="globalService.isPlatformBrowser()"
                   formControlName="email"
                   pInputText
                   type="text"/>
            <p-message *ngIf="getErrorMessages(form, 'email').length > 0"
                       [text]="getErrorMessages(form, 'email')"
                       severity="error"></p-message>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-lg-4 ui-md-12 ui-sm-12">
            Họ tên (*):
          </div>
          <div class="ui-lg-6 ui-md-12 ui-sm-12">
            <input *ngIf="globalService.isPlatformBrowser()"
                   formControlName="name"
                   pInputText
                   type="text"/>
            <p-message *ngIf="getErrorMessages(form, 'name').length > 0"
                       [text]="getErrorMessages(form, 'name')"
                       severity="error"></p-message>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-lg-4 ui-md-12 ui-sm-12">
            Số điện thoại (*):
          </div>
          <div class="ui-lg-6 ui-md-12 ui-sm-12">
            <input *ngIf="globalService.isPlatformBrowser()"
                   [autocomplete]="false"
                   formControlName="phone"
                   pInputText
                   type="text">
            <i>
              Số điện thoại dùng để xác thực tài khoản và xác nhận đơn hàng.
            </i>
            <p-message *ngIf="getErrorMessages(form, 'phone').length > 0"
                       [text]="getErrorMessages(form, 'phone')"
                       severity="error"></p-message>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-lg-4 ui-md-12 ui-sm-12">
            Mật khẩu (*):
          </div>
          <div class="ui-lg-6 ui-md-12 ui-sm-12">
            <input *ngIf="globalService.isPlatformBrowser()"
                   formControlName="password"
                   pInputText
                   type="password"/>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-lg-4 ui-md-12 ui-sm-12">
            Nhập lại mật khẩu (*):
          </div>
          <div class="ui-lg-6 ui-md-12 ui-sm-12">
            <input *ngIf="globalService.isPlatformBrowser()"
                   formControlName="confirmedPassword"
                   pInputText
                   type="password"/>

            <p-message *ngIf="getErrorMessages(form, 'confirmedPassword').length > 0"
                       [text]="getErrorMessages(form, 'confirmedPassword')"
                       severity="error"></p-message>
          </div>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-lg-4 ui-md-12 ui-sm-12">
          <label for="shopName">
            * Tên cửa hàng
          </label>
        </div>
        <div class="ui-lg-6 ui-md-12 ui-sm-12">
          <input (change)="onNameChanged($event)"
                 *ngIf="globalService.isPlatformBrowser()"
                 [formControlName]="'shopName'"
                 id="shopName"
                 pInputText
                 type="text"/>
          <i>Không chứa tên miền hoặc ký tự đặc biệt</i>
          <div>
            <div *ngFor="let message of getErrorMessages(form, 'name')" style="color: red">{{message}}</div>
          </div>
        </div>
      </div>

      <div class="ui-g">
        <div class="ui-lg-12 ui-md-12 ui-sm-12">
          <label>
            <b>Lưu ý: Tên cửa hàng cố định với đường link, không thể thay đổi</b>
          </label>
        </div>
      </div>

      <div class="ui-g">
        <div class="ui-lg-4 ui-md-12 ui-sm-12">
        </div>
        <div class="ui-lg-6 ui-md-12 ui-sm-12">
          <input (change)="checkSlug($event)"
                 *ngIf="globalService.isPlatformBrowser()"
                 [formControlName]="'slug'"
                 pInputText
                 type="text"/>
          <div>
            <div *ngFor="let message of getErrorMessages(form, 'slug')" style="color: red">{{message}}</div>
          </div>
        </div>
        <div *ngIf="slugFlag.display" class="ui-lg-2 ui-md-12 ui-sm-12">
          <div class="ui-g">
            <div *ngIf="slugFlag.state" class="ui-lg-12 ui-md-12 ui-sm-12" style="color: greenyellow;">
              <i class="pi pi-check"></i><span>Slug hợp lệ</span>
            </div>
            <div *ngIf="!slugFlag.state" class="ui-lg-12 ui-md-12 ui-sm-12" style="color: red;">
              <i class="pi pi-times"></i><span>Slug không hợp lệ</span>
            </div>
          </div>
        </div>
      </div>

      <div class="ui-g">
        <div class="ui-lg-4 ui-md-12 ui-sm-12">
          <label>
            * Giao hàng trên toàn quốc
          </label>
        </div>
        <div class="ui-lg-4 ui-md-12 ui-sm-12">
          <p-inputSwitch
            (onChange)="onChangeSwitch($event)"></p-inputSwitch>
        </div>
      </div>

      <div class="ui-g">
        <div class="ui-lg-4 ui-md-12 ui-sm-12">
          <label>
            * Hình ảnh cửa hàng
          </label>
        </div>
        <div class="ui-lg-8 ui-md-12 ui-sm-12">
          <app-image-uploader [formControlName]="'images'"></app-image-uploader>
          <div>
            <div *ngFor="let message of getErrorMessages(form, 'images')" style="color: red">{{message}}
            </div>
          </div>
        </div>
      </div>

      <div class="ui-g">
        <div class="ui-lg-4 ui-md-12 ui-sm-12">
          <label>
            <b>* Địa chỉ cửa hàng của bạn:</b>
          </label>
        </div>
      </div>

      <div class="ui-g">
        <div class="ui-lg-12 ui-md-12 ui-sm-12">
          <div>
            <app-map [coords]="_location" (valueChanged)="onMapChanged($event)"
                     [formControlName]="'address'"></app-map>
          </div>
          <div>
            <div *ngFor="let message of getErrorMessages(form, 'address')"
                 style="color: red">
              {{ message }}
            </div>
          </div>
        </div>
      </div>

    </form>

    <div *ngIf="!deliveryFlag">
      <b>Chọn Tỉnh/Thành phố, Quân/Huyên cửa hàng có thể giao sản phẩm</b>
      <div *ngFor="let location of collectionLocation.locations; let i = index">
        <div class="ui-g">
          <div class="ui-lg-4 ui-md-12 ui-sm-12">
            <label>
              * Tỉnh/Thành Phố
            </label>
          </div>
          <div class="ui-lg-3 ui-md-12 ui-sm-12">
            <p-dropdown
              (onChange)="onChangeCity($event,i)"
              [optionLabel]="'name'"
              [options]="citySource"
              placeholder="Chọn Tỉnh/Thành Phố"></p-dropdown>
          </div>
          <div *ngIf="i > 0" class="ui-lg-1 ui-md-3 ui-sm-4">
            <button (click)="removeLocation(i)"
                    class="ui-button-danger"
                    label="Xoá"
                    pButton
                    type="button"></button>
          </div>
          <div class="ui-lg-12 ui-md-12 ui-sm-12" style="color: red;">
            <span *ngIf="!location.isValid">Trường bắt buộc</span><br>
            <span
              *ngIf="!location.isDuplicateCity">Bạn đã chọn trùng thành phố, xin vui lòng chọn thành phố khác !</span>
          </div>
          <div class="ui-lg-12">
            <div *ngIf="!!location.selectedCityCode" class="ui-g">
              <!--Checkbox: all-->
              <div class="ui-lg-2 ui-md-3 ui-sm-6">
                <p-checkbox (onChange)="selectAllDistrictsOfCity($event, i)"
                            [(ngModel)]="location.isSelectAllDistrict"
                            [binary]="true"
                            [label]="'Chọn tất cả'"></p-checkbox>
              </div>

              <div *ngFor="let district of location.district" class="ui-lg-2 ui-md-3 ui-sm-6">
                <p-checkbox (onChange)="chooseDistricts(i)"
                            [(ngModel)]="location.selectedDistrict"
                            [label]="district.name"
                            [value]="district.id"></p-checkbox>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui-lg-3 ui-md-5 ui-sm-8">
        <button
          (click)="addLocation()"
          class="ui-button-success"
          icon="pi pi-plus-circle"
          label="Thêm địa chỉ mới"
          pButton
          type="button"></button>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-lg-offset-4 ui-md-offset-4 ui-sm-offset-3">
        <button (click)="onSubmit()"
                *ngIf="globalService.isPlatformBrowser()"
                label="Đăng ký bán hàng"
                pButton
                type="button"></button>
      </div>
    </div>
  </div>

</p-card>
<p-dialog header="Mã xác thực tài khoản"
          [(visible)]="showOTPPopup"
          [baseZIndex]="1070">
  <div class="ui-inputgroup">
    <input type="number"
           pInputText
           [(ngModel)]="otpInput"
           placeholder="Vote">

    <button pButton
            *ngIf="globalService.isPlatformBrowser()"
            (click)="resendOTPCode()"
            type="button"
            class="ui-button-success"
            [icon]="iconInputResendOTP"></button>
  </div>

  <div style="margin-top: 10px;">
    <button pButton
            *ngIf="globalService.isPlatformBrowser()"
            (click)="confirmAccountByOTPCode()"
            style="width: 100%"
            type="button"
            [label]="'Gửi'"
            [icon]="iconInputResendOTP"></button>
  </div>
</p-dialog>

