@import '../../../assets/layout/style/variable.scss';


#discount{
  margin-left: 1em;
  padding: 0 10px 0 10px;
  border: 1px solid $color-4;
  background: $color-4;
  border-radius: 30px;
  color: #fff;
  font-weight: bold;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
  margin-top: 4px;
  text-align: right;
}

.product-image {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 100%;

  .product-image-w {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
