@import "../../../../assets/layout/style/variable.scss";

.card {
 font-size: 1em;
 padding: 0;
 border: none;
 box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-title {
 font-size: 1.2em;
 font-weight: 700;
 padding: 0 0 0 0.5em;
 margin: 0.15em 0 0.15em 0;
 color: #777;
 overflow: hidden;

 .product-name {
  font-weight: normal;
  font-size: 14px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-align: center;
 }
}

.card-text {
 clear: both;
 margin-top: 0.5em;
 color: rgba(0, 0, 0, 0.68);
 padding: 0.75em 1em;
}

.card-footer {
 font-size: 14px;
 position: static;
 top: 0;
 left: 0;
 max-width: 100%;
 color: $color-5;
 border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
 font-weight: bold;
 background-color: #F7F7F7;
}

.shape {
 border-color: rgba(255, 255, 255, 0) #d9534f rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.discount {
 font-size: 12px;
 float: right;
 padding: 0 5px 0 5px;
 border: 1px solid $color-4;
 background: $color-4;
 border-radius: 30px;
 color: #fff;
 font-weight: bold;
}

:host ::ng-deep .progressBarDelay .ui-progressbar .ui-progressbar-value {
 background: $color-2 !important;
 height: 5px;
}

.countdown {
 text-align: center;
 padding: 6px 0;
 background-color: #F7F7F7;
}

.product-image {
 position: relative;
 width: 100%;
 height: 100%;
 padding-top: 100%;

 .product-sale-text {
  position: absolute;
  top: 3px;
  left: -5px;
  padding: 5px;
  background-color: #ff638c;
  color: #ffffff;
  z-index: 1;
 }

 img {
  position: absolute;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
 }
}

.original-price {
 font-weight: normal;
 text-decoration: line-through;
 font-size: 12px;
}
