<p-card>
  <div class="product-image-wrap">
    <div class="product-checkbox action-icon">
      <p-checkbox [binary]="true"
                  [disabled]="disabledCheckbox"
                  (onChange)="onChangeCheckBox($event)"
                  [(ngModel)]="value"></p-checkbox>
    </div>

    <div class="product-icon-edit action-icon">
      <a title="Chỉnh sửa sản phẩm"
         routerLink="/kenh-nguoi-ban/sua-san-pham/{{product._id}}">
        <span class="pi pi-pencil"></span>
      </a>
    </div>

    <div class="product-hidden-icon action-icon"
         title="Đã ẩn"
         *ngIf="product?.status === status.PRODUCT_HIDDEN">
      <span class="pi pi-eye-slash"></span>
    </div>

    <div class="product-image">
      <img src="{{product?.thumbnail | appStaticImage: SizeImage.S400}}"
           alt="">
    </div>
  </div>
  <div class="product-content-wrap">
    <div class="product-title">
      {{ product?.title }}
    </div>
    <div class="product-price">
      <div class="product-original-price"
           *ngIf="!product?.saleOff.active">
        <b style="color: firebrick">{{ product?.originalPrice | number: '.0-2' }} đ</b>
      </div>
      <div class="product-sale-off-price"
           *ngIf="product?.saleOff.active">
        <del style="color: black"><b>{{ product?.originalPrice | number: '.0-2' }} đ</b></del>
        <hr>
        <b style="color: firebrick">{{ product?.saleOff.price | number: '.0-2' }} đ</b>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-lg-6 ui-md-6 ui-sm-6">xem
        <div class="ui-g">
          <div class="ui-lg-12 ui-md-12 ui-sm-12">{{ product?.view }}</div>
        </div>
      </div>
      <div class="ui-lg-6 ui-md-6 ui-sm-6">bán
        <div class="ui-g">
          <div *ngIf="product?.sold" class="ui-lg-12 ui-md-12 ui-sm-12">{{ product?.sold }}</div>
          <div *ngIf="!product?.sold" class="ui-lg-12 ui-md-12 ui-sm-12">0</div>
        </div>
      </div>
    </div>
  </div>
</p-card>
