<div class="header">
  <span class="pi pi-times-circle"
        style="cursor: pointer;"
        (click)="onHidePopup()"></span>
</div>
<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
  <form [formGroup]="forgotPasswordForm">
    <div class="ui-g">
      <h2>Quên mật khẩu</h2>
      <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12">
        <input formControlName="email"
              autocomplete="off"
              *ngIf="globalService.isPlatformBrowser()"
              pInputText type="text"
              placeholder="Email của bạn" />
        <div *ngFor="let message of getErrorMessages(forgotPasswordForm, 'email')" class="error-msg">{{message}}</div>
      </div>
      <p>Vui lòng nhập chính xác email của bạn. Chúng tôi sẽ tiến hành kiểm tra và gửi lại cho bạn mật khẩu mới sau đó.
      </p>
    </div>
    <div class="ui-g">
      <div class="ui-g-12">
        <button [disabled]="forgotPasswordForm.invalid"
                pButton
                *ngIf="globalService.isPlatformBrowser()"
                class="ui-button-info"
                (click)="onSubmit()"
                label="Gửi yêu cầu">
        </button></div>
    </div>
  </form>
</div>
<p-toast></p-toast>