<section class="section section__top">
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
    <div class="ui-grid-row">
      <div class="ui-md-3 ui-g-12">
        <div class="box-search">
          <div class="title">Công cụ tìm kiếm</div>
          <app-search-box (valueChange)="onSearch($event)"></app-search-box>
        </div>
      </div>
      <div class="ui-md-9 ui-g-12">
        <div class="ui-grid-row">
          <div class="ui-md-12 ui-g-12 promotion">
            <div style="height: 15rem">
              <img src="/assets/demo/top-banner.jpg" width="100%">
            </div>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-md-3 ui-g-6 pointer"
               routerLink="danh-muc/hoa-tinh-yeu">
            <img src="/assets/demo/icon-hoa-tinh-yeu.png" width="100%">
            <a><h2 class="align-center">Hoa Tình Yêu</h2></a>
          </div>
          <div class="ui-md-3 ui-g-6 pointer"
               routerLink="danh-muc/sinh-nhat">
            <img src="/assets/demo/icon-hoa-sinh-nhat.png" width="100%">
            <a><h2 class="align-center">Hoa Sinh Nhật</h2></a>
          </div>
          <div class="ui-md-3 ui-g-6 pointer"
               routerLink="danh-muc/hoa-tang-me">
            <img src="/assets/demo/icon-hoa-tang-me.png" width="100%">
            <a><h2 class="align-center">Hoa Tặng Mẹ</h2></a>
          </div>
          <div class="ui-md-3 ui-g-6 pointer"
               routerLink="danh-muc/hoa-chuc-mung">
            <img src="/assets/demo/icon-hoa-chuc-mung.png" width="100%">
            <a><h2 class="align-center">Hoa Chúc Mừng</h2></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<hr style="border-style: ridge;">

<section class="ad-banners">
  <div class="ui-g">
    <div class="ui-sm-12 ui-lg-6 ui-md-6">
      <img src="/assets/layout/images/banner-1.jpg" alt="">
    </div>
    <div class="ui-sm-12 ui-lg-6 ui-md-6">
      <img src="/assets/layout/images/banner-2.png" alt="">
      <img src="/assets/layout/images/banner-3.png" alt="">
    </div>
  </div>
</section>

<hr style="border-style: ridge;">

<div class="ui-g">
  <div class="ui-sm-12 ui-md-9 ui-lg-9">
    <section class="section section__sale-products">
      <a routerLink="/khuyen-mai"><h2>Sản phẩm khuyến mãi</h2></a>
      <app-products-promotion [saleProducts]="saleProducts"></app-products-promotion>
      <div class="wrapper">
        <button pButton
                *ngIf="globalService.isPlatformBrowser()"
                type="button"
                label="Xem thêm"
                routerLink="/khuyen-mai"
                class="ui-button-rounded btn-more"></button>
      </div>
    </section>

    <section class="section section__featured-products">
      <a routerLink="/noi-bat"><h2>Sản phẩm nổi bật</h2></a>
      <app-products-featured [featuredProducts]="featuredProducts"></app-products-featured>
      <div class="wrapper">
        <button pButton
                *ngIf="globalService.isPlatformBrowser()"
                type="button"
                label="Xem thêm"
                routerLink="/noi-bat"
                class="ui-button-rounded btn-more">
        </button>
      </div>
    </section>
    <section class="section section__featured-products">
      <a routerLink="/tin-tuc"><h2>Bài viết nổi bật</h2></a>
      <app-news-list></app-news-list>
      <div class="wrapper">
        <button pButton
                *ngIf="globalService.isPlatformBrowser()"
                type="button"
                label="Xem thêm"
                routerLink="/tin-tuc"
                class="ui-button-rounded btn-more">
        </button>
      </div>
    </section>
  </div>
  <div class="ui-sm-12 ui-md-3 ui-lg-3">
    <img src="/assets/layout/images/banner-4.png" alt="" style="width: 100%">
    <a routerLink="/danh-muc/hoa-tuoi">
      <img src="/assets/layout/images/banner-5.jpg" alt="" style="width: 100%">
    </a>
    <a routerLink="/danh-muc/hoa-tang-le">
      <img src="/assets/layout/images/banner-6.jpg" alt="" style="width: 100%">
    </a>
  </div>
</div>

<section class="section" style="margin-top: 50px;">
  <h2 style="text-align: center;">Đối tác khách hàng</h2>
  <div class="align-center">
    <img src="https://appnet.edu.vn/wp-content/uploads/2018/07/11.png"
         width="100"
         height="100"
         alt="">

    <img src="https://appnet.edu.vn/wp-content/uploads/2018/07/logo-appnet-media1.png"
         width="100"
         height="100"
         style="margin-left: 100px"
         alt="">
  </div>
</section>
