@import "../../../../../assets/layout/style/variable";

:host{
 .layout-topbar {
  background-color: $color-5;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
 }

 ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  li {
   a {
    color: $color-1;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;

    span {
     vertical-align: top;
    }
   }
  }
  &::after {
   content: '';
   display: block;
   clear: both;
  }
 }

 .left-menu {
  list-style: none;
  display: inline-flex;
 }

 .right-menu {
  list-style: none;
  float: right;
  display: inline-flex;
 }

 &::after {
  content: '';
  display: block;
  clear: both;
 }

 .icon-toggle-menu {
  padding: 11px !important;
  color: white !important;
  font-size: 23px !important;
  cursor: pointer;

  &:hover {
   background-color: lighten($color-5, 20%);
  }
 }
}

.seller {
  margin-top: 10px;
  font-size: 15px;
  padding-left: 10px;
}