<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-md-12">
            <p-card>
                <div class="content">
                    <h2><strong>Cảm ơn bạn đã mua hàng tại FlowerShop.com</strong></h2>
                    <p>Mã số đơn hàng của bạn là <strong style="color: green;">#{{id}}</strong>,
                        <b><u>Vui lòng chuyển khoản trong vòng 2h, quá hạn đơn hàng của bạn sẽ tự hủy.</u></b></p>
                    <p>
                        Vui lòng chuyển khoản theo nội dung sau: <strong
                            style="border: #777777 1px solid; padding: 5px;color: green;">#{{id}}</strong>
                    </p>
                    <br>
                    <h3><strong>Thông tin tài khoản nhận tiền:</strong></h3>
                    <strong>Ngân hàng thương mại cổ phần Á Châu - ACB</strong>
                    <ul>
                        <li><strong>Chi nhánh:</strong> Ông Bích Khiêm - TP. Hồ Chí Minh</li>
                        <li><strong>Người thụ hưởng:</strong> Văn Đức Sơn Hà</li>
                        <li><strong>Số tài khoản:</strong> 47718749</li>
                    </ul>
                    <br>
                    <strong>Ngân hàng thương mại cổ phần Đông Á - DAB</strong>
                    <ul>
                        <li><strong>Chi nhánh:</strong> Quận 10 - TP. Hồ Chí Minh</li>
                        <li><strong>Người thụ hưởng:</strong> Văn Đức Sơn Hà</li>
                        <li><strong>Số tài khoản:</strong> 0101097130</li>
                    </ul>
                    <br>
                    <h3><strong>Quản lý đơn hàng:</strong></h3>
                    <p>
                        Bạn có thể xem lại đơn hàng của bạn tại <a routerLink="/trang-ca-nhan/don-hang">Đơn hàng của
                        bạn</a>.
                    </p>
                    <p><strong>Lưu ý:</strong> để việc xử lý đơn hàng nhanh hơn, FlowerShop sẽ gọi cho bạn để xác nhận
                        đơn hàng.
                    </p>
                </div>
            </p-card>
        </div>
    </div>
</div>
