<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
  <div class="ui-grid-row">
    <div class="ui-lg-9 ui-g-12">
      <div class="ui-grid">
        <h1>{{product.title}}</h1>
      </div>
      <div class="ui-grid-row">
        <div class="ui-lg-6 ui-md-7 ui-g-12" *ngIf="images.length !== 0">
          <p-galleria [images]="images"
                      [style]="{height: '300px'}"
                      panelWidth="width"
                      frameWidth="50"
                      frameHeight="50"
                      [showCaption]="false"
                      *ngIf="globalService.isPlatformBrowser()"></p-galleria>

          <div class="social">
            <a class="social--item" href="#">Chia sẻ</a>
            <span class="social--item">{{product.sold || 0 }} Lượt mua</span>
            <span class="social--item">{{product.view || 0 }} Lượt xem</span>
          </div>
        </div>

        <div class="ui-lg-6 ui-md-5 ui-g-12">
          <p class="spacing">Mã sản phẩm: {{product?.sku}}</p>

          <p *ngIf="product?.saleOff.active"
             class="spacing">Giá: <span
              id="original-price">{{product?.originalPrice | number: '.0-2'}}đ</span>
            {{product.saleOff.price | number: '.0-2'}}đ <span id="discount">Giảm {{discount}}%</span></p>

          <p *ngIf="!product?.saleOff.active" class="spacing">Giá: {{product?.originalPrice | number: '.0-2'}}</p>

          <p class="spacing">Vận chuyển: Miễn phí vận chuyển</p>

          <div>
            <span>Số lượng: </span>

            <p-spinner class="ui-spinner"
                       [(ngModel)]="quantity"
                       size="10"
                       [min]="1"
                       [max]="100"></p-spinner>
          </div>

          <div style="margin-top:1rem">
            <p-button icon="pi pi-shopping-cart"
                      label="Thêm vào giỏ hàng"
                      iconPos="right"
                      (onClick)="addToCart()"
                      style="margin-right: .5em"
                      class="ui-button-secondary"></p-button>

            <p-button icon="pi pi-tag"
                      disabled
                      (onClick)="buyNow()"
                      label="Mua ngay"
                      iconPos="right"></p-button>
          </div>

        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-md-6 ui-g-12">
          <h3>CHI TIẾT SẢN PHẨM</h3>
          <div [innerHTML]="product?.description"></div>
        </div>

      </div>
      <div class="ui-grid-row">
        <div class="ui-md-12">
          Từ khóa:
          <a *ngFor="let tag of product.tags"
             [routerLink]="['/tag/', tag.customSlug ? tag.customSlug : tag.slug ]">{{ tag.keyword }}, </a>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-md-12">
          <div class="products-similar">
            <h2>Sản phẩm tương tự</h2>
            <app-products-similar [products]="relatedProducts"></app-products-similar>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-lg-3 ui-g-12 ui-md-3">
      <div class="box-search">
        <h3>Công cụ tìm kiếm</h3>
        <app-search-box [data]="searchQuery"
                        (valueChange)="onSearch($event)">
        </app-search-box>
      </div>
      <!--<div class="filter-search">
        <h3>Bộ lọc tìm kiếm</h3>
      </div>-->
    </div>
  </div>
</div>
