<p-card>
  <div class="ui-g" style="min-height: 75px;">
    <div class="ui-lg-4 ui-md-4 ui-sm-12">
      <p-checkbox (onChange)="checkAll()"
                  [binary]="true"
                  [(ngModel)]="selectAllProduct"
                  label="Chọn tất cả."></p-checkbox>
    </div>
    <div class="ui-lg-8 ui-md-12 ui-sm-12">
      <div class="ui-g">
        <div class="ui-lg-5 ui-md-5 ui-sm-3">{{ numberOfSelected }} Sản phẩm đã được chọn</div>
        <div class="ui-lg-7 ui-md-7 ui-sm-9">
          <div class="ui-g">
            <div class="ui-lg-5 ui-md-5 ui-sm-5">
              <button pButton
                      *ngIf="globalService.isPlatformBrowser()"
                      (click)="confirmActiveProducts()"
                      [disabled]="numberOfSelected === 0"
                      type="button"
                      label="Hiển thị"
                      class="ui-button-secondary"></button>
            </div>

            <div class="ui-lg-3 ui-md-3 ui-sm-3">
              <button pButton
                      *ngIf="globalService.isPlatformBrowser()"
                      type="button"
                      [disabled]="numberOfSelected === 0"
                      (click)="confirmHideProducts()"
                      label="Ẩn"
                      class="ui-button-secondary"></button>
            </div>

            <div class="ui-lg-4 ui-md-4 ui-sm-4">
              <button pButton
                      [disabled]="numberOfSelected === 0"
                      *ngIf="globalService.isPlatformBrowser()"
                      (click)="confirmDeleteProducts()"
                      type="button"
                      label="Xoá"
                      class="ui-button-danger"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-card>
<h3>Danh sách sản phẩm</h3>
<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
  <div class="ui-g">
    <div class="ui-lg-2 ui-md-12">
      <b>Có {{ metaProduct.totalItems }} sản phẩm</b>
    </div>
    <div class="ui-lg-4 ui-md-6 ui-sm-12">
      <input
          [(ngModel)]="textBoxParam"
          placeholder="Nhập tên sản phẩm"
          type="text"
          pInputText/>
    </div>
    <div class="ui-lg-3 ui-md-6 ui-sm-12">
      <p-dropdown
          (onChange)="onChangeSort($event)"
          [optionLabel]="'text'"
          [options]="searchSelector.PriceOrder"></p-dropdown>
    </div>
    <div class="ui-lg-3 ui-md-12 ui-sm-12">
      <p-button
          (click)="search(textBoxParam)"
          icon="pi pi-search"
          iconPos="right"
          label="Tìm kiếm"></p-button>

    </div>
  </div>
  <div style="position: relative">

  <p-tabView (onChange)="handleChange($event)">
    <div class="top-right-buttons">
      <button class="top-right-button" [ngClass]="{'list-active' : isTable}" style="margin-right: 2px">
        <i class="pi pi-list" (click)="changeIsTableState(true)"></i>
      </button>
      <button class="top-right-button" [ngClass]="{'list-active' : !isTable}">
        <i class="pi pi-th-large" (click)="changeIsTableState(false)"></i>
      </button>
    </div>
    <p-tabPanel header="Tất cả">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-g" *ngIf="isTable">
          <div class="ui-lg-3 ui-md-4 ui-sm-6">
            <p-card>
              <button pButton
                      *ngIf="globalService.isPlatformBrowser()"
                      icon="pi pi-plus"
                      iconPos="left"
                      label="Thêm sản phẩm mới"
                      (click)="navigateToCreateProductPage()"
                      styleClass="ui-button-info"></button>

            </p-card>
          </div>
          <app-shop-product-item-table
                  [listProductCheckObj]="listProductCheckObj"
                  [numberOfSelected]="numberOfSelected"
                  (changeSelection)="onChangeCheckBox()"
                  [listProduct]="listProduct">

          </app-shop-product-item-table>
          </div>
        </div>
        <div class="ui-g" *ngIf="!isTable">
          <div class="ui-lg-3 ui-md-4 ui-sm-6">
            <p-card>
              <button pButton
                      *ngIf="globalService.isPlatformBrowser()"
                      icon="pi pi-plus"
                      iconPos="left"
                      label="Thêm sản phẩm mới"
                      (click)="navigateToCreateProductPage()"
                      styleClass="ui-button-info"></button>

            </p-card>
          </div>
          <div class="ui-lg-3 ui-md-4 ui-sm-6"
               *ngFor="let product of listProduct">
            <app-shop-product-item-editable [(value)]="listProductCheckObj[product._id]"
                                            (changeSelection)="onChangeCheckBox()"
                                            [product]="product"></app-shop-product-item-editable>
          </div>
      </div>

      <p-paginator
        #paginator
        (onPageChange)="onPageChange($event)"
        [rows]="10"
        [totalRecords]="metaProduct.totalItems"></p-paginator>
    </p-tabPanel>

    <!--<p-tabPanel header="Còn hàng">
      Content 2
    </p-tabPanel>

    <p-tabPanel header="Hết hàng">
      Content 3
    </p-tabPanel>

    <p-tabPanel header="Đã bị khoá">
      Content 3
    </p-tabPanel>-->

    <p-tabPanel header="Đã ẩn">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-g" *ngIf="isTable">
          <div class="ui-lg-3 ui-md-4 ui-sm-6">
            <p-card>
              <button pButton
                      *ngIf="globalService.isPlatformBrowser()"
                      icon="pi pi-plus"
                      iconPos="left"
                      label="Thêm sản phẩm mới"
                      (click)="navigateToCreateProductPage()"
                      styleClass="ui-button-info"></button>

            </p-card>
          </div>
          <app-shop-product-item-table
              [listProductCheckObj]="listProductCheckObj"
              [numberOfSelected]="numberOfSelected"
              (changeSelection)="onChangeCheckBox()"
              [listProduct]="listProduct">

          </app-shop-product-item-table>
        </div>
      </div>
      <div class="ui-g" *ngIf="!isTable">
        <div class="ui-lg-3 ui-md-4 ui-sm-6">
          <p-card>
            <button pButton
                    *ngIf="globalService.isPlatformBrowser()"
                    icon="pi pi-plus"
                    iconPos="left"
                    label="Thêm sản phẩm mới"
                    (click)="navigateToCreateProductPage()"
                    styleClass="ui-button-info"></button>

          </p-card>
        </div>
        <div class="ui-lg-3 ui-md-4 ui-sm-6"
             *ngFor="let product of listProduct">
          <app-shop-product-item-editable [(value)]="listProductCheckObj[product._id]"
                                          (changeSelection)="onChangeCheckBox()"
                                          [product]="product"></app-shop-product-item-editable>
        </div>
      </div>

      <p-paginator
        #paginator
        (onPageChange)="onPageChange($event)"
        [rows]="10"
        [totalRecords]="metaProduct.totalItems"></p-paginator>
    </p-tabPanel>

    <p-tabPanel header="Đang chờ duyệt">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-g" *ngIf="isTable">
          <div class="ui-lg-3 ui-md-4 ui-sm-6">
            <p-card>
              <button pButton
                      *ngIf="globalService.isPlatformBrowser()"
                      icon="pi pi-plus"
                      iconPos="left"
                      label="Thêm sản phẩm mới"
                      (click)="navigateToCreateProductPage()"
                      styleClass="ui-button-info"></button>

            </p-card>
          </div>
          <app-shop-product-item-table
              [listProductCheckObj]="listProductCheckObj"
              [numberOfSelected]="numberOfSelected"
              [disabledCheckbox]="true"
              (changeSelection)="onChangeCheckBox()"
              [listProduct]="listProduct">

          </app-shop-product-item-table>
        </div>
      </div>
      <div class="ui-g" *ngIf="!isTable">
        <div class="ui-lg-3 ui-md-4 ui-sm-6">
          <p-card>
            <button pButton
                    *ngIf="globalService.isPlatformBrowser()"
                    icon="pi pi-plus"
                    iconPos="left"
                    label="Thêm sản phẩm mới"
                    (click)="navigateToCreateProductPage()"
                    styleClass="ui-button-info"></button>

          </p-card>
        </div>
        <div class="ui-lg-3 ui-md-4 ui-sm-6"
             *ngFor="let product of listProduct">
          <app-shop-product-item-editable [(value)]="listProductCheckObj[product._id]"
                                          (changeSelection)="onChangeCheckBox()"
                                          [disabledCheckbox]="true"
                                          [product]="product"></app-shop-product-item-editable>
        </div>
      </div>

      <p-paginator
        #paginator
        (onPageChange)="onPageChange($event)"
        [rows]="10"
        [totalRecords]="metaProduct.totalItems"></p-paginator>
    </p-tabPanel>

    <p-tabPanel header="Không được duyệt">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-g" *ngIf="isTable">
          <div class="ui-lg-3 ui-md-4 ui-sm-6">
            <p-card>
              <button pButton
                      *ngIf="globalService.isPlatformBrowser()"
                      icon="pi pi-plus"
                      iconPos="left"
                      label="Thêm sản phẩm mới"
                      (click)="navigateToCreateProductPage()"
                      styleClass="ui-button-info"></button>

            </p-card>
          </div>
          <app-shop-product-item-table
              [listProductCheckObj]="listProductCheckObj"
              [numberOfSelected]="numberOfSelected"
              [disabledCheckbox]="true"
              (changeSelection)="onChangeCheckBox()"
              [listProduct]="listProduct">

          </app-shop-product-item-table>
        </div>
      </div>
      <div class="ui-g" *ngIf="!isTable">
        <div class="ui-lg-3 ui-md-4 ui-sm-6">
          <p-card>
            <button pButton
                    *ngIf="globalService.isPlatformBrowser()"
                    icon="pi pi-plus"
                    iconPos="left"
                    label="Thêm sản phẩm mới"
                    (click)="navigateToCreateProductPage()"
                    styleClass="ui-button-info"></button>

          </p-card>
        </div>
        <div class="ui-lg-3 ui-md-4 ui-sm-6"
             *ngFor="let product of listProduct">
          <app-shop-product-item-editable [(value)]="listProductCheckObj[product._id]"
                                          (changeSelection)="onChangeCheckBox()"
                                          [disabledCheckbox]="true"
                                          [product]="product"></app-shop-product-item-editable>
        </div>
      </div>

      <p-paginator
        #paginator
        (onPageChange)="onPageChange($event)"
        [rows]="10"
        [totalRecords]="metaProduct.totalItems"></p-paginator>
    </p-tabPanel>

  </p-tabView>
  </div>
</div>

<p-confirmDialog header="Cảnh báo!" icon="pi pi-exclamation-triangle"></p-confirmDialog>
