.thumb-img {
  position: relative;
  width: 132px;
  height: 132px;
  float: left;

  img {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
  }

}
.content-right {
  float: left;
  width: calc(100% - 132px);
  padding-left: 10px;
}

.item {
  border-bottom: 1px dotted #999;
  margin-bottom: 10px;
  padding-bottom: 7px;
}

a {
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
}

p {
  font-size: 13px;
}

.datetime {
  color: #999;
}

h2{
  margin-bottom: 0px;
}

/* styles for '...' */
.description {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 48px;
  text-align: justify;
}
.description:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}
.description:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}
